In [508]:
import pandas as pd

from sklearn.preprocessing import OneHotEncoder

In [509]:
url = 'https://raw.githubusercontent.com/JavoAlejandro/Longevidad_NBA/main/NBA%20All%20Players.csv'
df_all = pd.read_csv(url)

In [510]:
df_s = pd.read_csv('NBA_Player_Stats.csv')

Union All Players y Player Stats 1980 - 2021

In [511]:
df_s['Year'] = df_s['Year'].str.slice(stop=4)

df_s

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,1,Mahmoud Abdul-Rauf,PG,28,SAC,31,0,17.1,3.3,8.8,...,0.2,1.0,1.2,1.9,0.5,0.0,0.6,1.0,7.3,1997
1,2,Tariq Abdul-Wahad,SG,23,SAC,59,16,16.3,2.4,6.1,...,0.7,1.2,2.0,0.9,0.6,0.2,1.1,1.4,6.4,1997
2,3,Shareef Abdur-Rahim,SF,21,VAN,82,82,36.0,8.0,16.4,...,2.8,4.3,7.1,2.6,1.1,0.9,3.1,2.5,22.3,1997
3,4,Cory Alexander,PG,24,TOT,60,22,21.6,2.9,6.7,...,0.3,2.2,2.4,3.5,1.2,0.2,1.9,1.6,8.1,1997
4,4,Cory Alexander,PG,24,SAS,37,3,13.5,1.6,3.9,...,0.2,1.1,1.3,1.9,0.7,0.1,1.3,1.4,4.5,1997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14568,601,Thaddeus Young,PF,33,TOR,26,0,18.3,2.6,5.5,...,1.5,2.9,4.4,1.7,1.2,0.4,0.8,1.7,6.3,2021
14569,602,Trae Young,PG,23,ATL,76,76,34.9,9.4,20.3,...,0.7,3.1,3.7,9.7,0.9,0.1,4.0,1.7,28.4,2021
14570,603,Omer Yurtseven,C,23,MIA,56,12,12.6,2.3,4.4,...,1.5,3.7,5.3,0.9,0.3,0.4,0.7,1.5,5.3,2021
14571,604,Cody Zeller,C,29,POR,27,0,13.1,1.9,3.3,...,1.9,2.8,4.6,0.8,0.3,0.2,0.7,2.1,5.2,2021
14572,605,Ivica Zubac,C,24,LAC,76,76,24.4,4.1,6.5,...,2.9,5.6,8.5,1.6,0.5,1.0,1.5,2.7,10.3,2021

In [512]:
df_filter = df_s.loc[df_s['Year'].astype(int) >= 2018]

df_filter

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
11733,1,Álex Abrines,SG,25,OKC,31,2,19.0,1.8,5.1,...,0.2,1.4,1.5,0.6,0.5,0.2,0.5,1.7,5.3,2018
11734,2,Quincy Acy,PF,28,PHO,10,0,12.3,0.4,1.8,...,0.3,2.2,2.5,0.8,0.1,0.4,0.4,2.4,1.7,2018
11735,3,Jaylen Adams,PG,22,ATL,34,1,12.6,1.1,3.2,...,0.3,1.4,1.8,1.9,0.4,0.1,0.8,1.3,3.2,2018
11736,4,Steven Adams,C,25,OKC,80,80,33.4,6.0,10.1,...,4.9,4.6,9.5,1.6,1.5,1.0,1.7,2.6,13.9,2018
11737,5,Bam Adebayo,C,21,MIA,82,28,23.3,3.4,5.9,...,2.0,5.3,7.3,2.2,0.9,0.8,1.5,2.5,8.9,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14568,601,Thaddeus Young,PF,33,TOR,26,0,18.3,2.6,5.5,...,1.5,2.9,4.4,1.7,1.2,0.4,0.8,1.7,6.3,2021
14569,602,Trae Young,PG,23,ATL,76,76,34.9,9.4,20.3,...,0.7,3.1,3.7,9.7,0.9,0.1,4.0,1.7,28.4,2021
14570,603,Omer Yurtseven,C,23,MIA,56,12,12.6,2.3,4.4,...,1.5,3.7,5.3,0.9,0.3,0.4,0.7,1.5,5.3,2021
14571,604,Cody Zeller,C,29,POR,27,0,13.1,1.9,3.3,...,1.9,2.8,4.6,0.8,0.3,0.2,0.7,2.1,5.2,2021
14572,605,Ivica Zubac,C,24,LAC,76,76,24.4,4.1,6.5,...,2.9,5.6,8.5,1.6,0.5,1.0,1.5,2.7,10.3,2021

In [513]:
df_filter.drop(['Rk', 'GS'], axis=1, inplace=True)

C:\Users\jor_x\AppData\Local\Temp\ipykernel_10700\692071422.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filter.drop(['Rk', 'GS'], axis=1, inplace=True)

In [514]:
df_filter.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year'],
      dtype='object')

In [515]:
df_all.columns

Index(['Unnamed: 0', 'Year', 'Player', 'Pos', 'Age', 'Tm', 'G', 'MP', 'PER',
       'TS%', 'OWS', 'DWS', 'WS', 'WS/48', 'BPM', 'VORP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [516]:
df_all

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,689,1980.0,Kareem Abdul-Jabbar*,C,32.0,LAL,82.0,3143.0,25.3,0.639,...,0.765,190.0,696.0,886.0,371.0,81.0,280.0,297.0,216.0,2034.0
1,690,1980.0,Tom Abernethy,PF,25.0,GSW,67.0,1222.0,11.0,0.511,...,0.683,62.0,129.0,191.0,87.0,35.0,12.0,39.0,118.0,362.0
2,691,1980.0,Alvan Adams,C,25.0,PHO,75.0,2168.0,19.2,0.571,...,0.797,158.0,451.0,609.0,322.0,108.0,55.0,218.0,237.0,1118.0
3,692,1980.0,Tiny Archibald*,PG,31.0,BOS,80.0,2864.0,15.3,0.574,...,0.830,59.0,138.0,197.0,671.0,106.0,10.0,242.0,218.0,1131.0
4,694,1980.0,Gus Bailey,SG,28.0,WSB,20.0,180.0,9.3,0.467,...,0.385,6.0,22.0,28.0,26.0,7.0,4.0,11.0,18.0,38.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15102,19610,2017.0,Thaddeus Young,PF,28.0,IND,74.0,2237.0,14.9,0.562,...,0.523,131.0,318.0,449.0,122.0,114.0,30.0,96.0,135.0,814.0
15103,19611,2017.0,Cody Zeller,PF,24.0,CHO,62.0,1725.0,16.7,0.604,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
15104,19612,2017.0,Tyler Zeller,C,27.0,BOS,51.0,525.0,13.0,0.508,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
15105,19614,2017.0,Paul Zipser,SF,22.0,CHI,44.0,843.0,6.9,0.503,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
15106,19615,2017.0,Ivica Zu,C,19.0,LAL,38.0,609.0,17.0,0.547,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [517]:
df_all = df_all.drop(columns=["Unnamed: 0", 'PER', 'TS%', 'OWS',
       'DWS', 'WS', 'WS/48', 'BPM', 'VORP'])
df_all

,Year,Player,Pos,Age,Tm,G,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1980.0,Kareem Abdul-Jabbar*,C,32.0,LAL,82.0,3143.0,835.0,1383.0,0.604,...,0.765,190.0,696.0,886.0,371.0,81.0,280.0,297.0,216.0,2034.0
1,1980.0,Tom Abernethy,PF,25.0,GSW,67.0,1222.0,153.0,318.0,0.481,...,0.683,62.0,129.0,191.0,87.0,35.0,12.0,39.0,118.0,362.0
2,1980.0,Alvan Adams,C,25.0,PHO,75.0,2168.0,465.0,875.0,0.531,...,0.797,158.0,451.0,609.0,322.0,108.0,55.0,218.0,237.0,1118.0
3,1980.0,Tiny Archibald*,PG,31.0,BOS,80.0,2864.0,383.0,794.0,0.482,...,0.830,59.0,138.0,197.0,671.0,106.0,10.0,242.0,218.0,1131.0
4,1980.0,Gus Bailey,SG,28.0,WSB,20.0,180.0,16.0,35.0,0.457,...,0.385,6.0,22.0,28.0,26.0,7.0,4.0,11.0,18.0,38.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15102,2017.0,Thaddeus Young,PF,28.0,IND,74.0,2237.0,362.0,687.0,0.527,...,0.523,131.0,318.0,449.0,122.0,114.0,30.0,96.0,135.0,814.0
15103,2017.0,Cody Zeller,PF,24.0,CHO,62.0,1725.0,253.0,443.0,0.571,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
15104,2017.0,Tyler Zeller,C,27.0,BOS,51.0,525.0,78.0,158.0,0.494,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
15105,2017.0,Paul Zipser,SF,22.0,CHI,44.0,843.0,88.0,221.0,0.398,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
15106,2017.0,Ivica Zu,C,19.0,LAL,38.0,609.0,126.0,238.0,0.529,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [518]:
df_all = pd.concat([df_all, df_filter])
df_all

,Year,Player,Pos,Age,Tm,G,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1980.0,Kareem Abdul-Jabbar*,C,32.0,LAL,82.0,3143.0,835.0,1383.0,0.604,...,0.765,190.0,696.0,886.0,371.0,81.0,280.0,297.0,216.0,2034.0
1,1980.0,Tom Abernethy,PF,25.0,GSW,67.0,1222.0,153.0,318.0,0.481,...,0.683,62.0,129.0,191.0,87.0,35.0,12.0,39.0,118.0,362.0
2,1980.0,Alvan Adams,C,25.0,PHO,75.0,2168.0,465.0,875.0,0.531,...,0.797,158.0,451.0,609.0,322.0,108.0,55.0,218.0,237.0,1118.0
3,1980.0,Tiny Archibald*,PG,31.0,BOS,80.0,2864.0,383.0,794.0,0.482,...,0.830,59.0,138.0,197.0,671.0,106.0,10.0,242.0,218.0,1131.0
4,1980.0,Gus Bailey,SG,28.0,WSB,20.0,180.0,16.0,35.0,0.457,...,0.385,6.0,22.0,28.0,26.0,7.0,4.0,11.0,18.0,38.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14568,2021,Thaddeus Young,PF,33.0,TOR,26.0,18.3,2.6,5.5,0.465,...,0.481,1.5,2.9,4.4,1.7,1.2,0.4,0.8,1.7,6.3
14569,2021,Trae Young,PG,23.0,ATL,76.0,34.9,9.4,20.3,0.460,...,0.904,0.7,3.1,3.7,9.7,0.9,0.1,4.0,1.7,28.4
14570,2021,Omer Yurtseven,C,23.0,MIA,56.0,12.6,2.3,4.4,0.526,...,0.623,1.5,3.7,5.3,0.9,0.3,0.4,0.7,1.5,5.3
14571,2021,Cody Zeller,C,29.0,POR,27.0,13.1,1.9,3.3,0.567,...,0.776,1.9,2.8,4.6,0.8,0.3,0.2,0.7,2.1,5.2
14572,2021,Ivica Zubac,C,24.0,LAC,76.0,24.4,4.1,6.5,0.626,...,0.727,2.9,5.6,8.5,1.6,0.5,1.0,1.5,2.7,10.3

In [519]:
df_all.isnull().sum().sum()

490

In [520]:
df_all.dropna(inplace=True)

In [521]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17615 entries, 0 to 14571
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    17615 non-null  object
 1   Player  17615 non-null  object
 2   Pos     17615 non-null  object
 3   Age     17615 non-null  float64
 4   Tm      17615 non-null  object
 5   G       17615 non-null  float64
 6   MP      17615 non-null  float64
 7   FG      17615 non-null  float64
 8   FGA     17615 non-null  float64
 9   FG%     17615 non-null  float64
 10  3P      17615 non-null  float64
 11  3PA     17615 non-null  float64
 12  3P%     17615 non-null  float64
 13  2P      17615 non-null  float64
 14  2PA     17615 non-null  float64
 15  2P%     17615 non-null  float64
 16  eFG%    17615 non-null  float64
 17  FT      17615 non-null  float64
 18  FTA     17615 non-null  float64
 19  FT%     17615 non-null  float64
 20  ORB     17615 non-null  float64
 21  DRB     17615 non-null  float64
 22  TRB     17615 non-null  float64
 23  AST     17615 non-null  float64
 24  STL     17615 non-null  float64
 25  BLK     17615 non-null  float64
 26  TOV     17615 non-null  float64
 27  PF      17615 non-null  float64
 28  PTS     17615 non-null  float64
dtypes: float64(25), object(4)
memory usage: 4.0+ MB

In [522]:
df_all.reset_index(inplace=True, drop=True)

df_all['Year'] = df_all['Year'].astype(int)
df_all['Age'] = df_all['Age'].astype(int)

In [523]:
agrupado = df_all.groupby('Player')['Year'].apply(list).reset_index()

In [524]:
agrupado

                  Player                                               Year
0             A.C. Green  [1986, 1987, 1988, 1989, 1990, 1991, 1992, 199...
1           A.J. English                                       [1991, 1992]
2            A.J. Guyton                                       [2001, 2002]
3           A.J. Hammons                                             [2017]
4             A.J. Price   [2010, 2011, 2012, 2013, 2014, 2015, 2015, 2015]
...                  ...                                                ...
2916     Zion Williamson                                       [2019, 2020]
2917         Zoran Dragi                                 [2015, 2015, 2015]
2918       Zoran Planini                                 [2004, 2005, 2006]
2919  Zydrunas Ilgauskas  [1998, 2001, 2002, 2003, 2004, 2005, 2006, 200...
2920        Álex Abrines                                             [2018]

[2921 rows x 2 columns]

In [525]:
agrupado[agrupado["Player"] == "LeBron James"]["Year"]

1740    [2004, 2005, 2006, 2007, 2008, 2009, 2010, 201...
Name: Year, dtype: object

# Dataset Rookies

In [526]:
path = "NBA_Rookies_by_Year.xlsx"
df_rookies = pd.read_excel(path)

1980-2016

In [527]:
df_rookies

,Name,Year Drafted,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,EFF
0,Brandon Ingram,2016,36,27.4,7.4,2.6,7.6,34.7,0.5,2.1,...,2.3,69.9,0.7,3.4,4.1,1.9,0.4,0.4,1.3,7.3
1,Andrew Harrison,2016,35,26.9,7.2,2.0,6.7,29.6,0.7,2.8,...,3.4,76.5,0.5,2.0,2.4,3.7,1.1,0.5,1.6,7.9
2,Rodney McGruder,2016,30,25.7,5.8,2.1,5.3,40.0,0.8,2.6,...,1.0,72.4,1.5,2.0,3.5,1.5,0.7,0.3,0.7,7.5
3,Joel Embiid,2016,22,24.8,18.9,6.2,13.4,46.4,1.2,3.0,...,6.8,77.3,2.0,5.4,7.3,1.9,0.8,2.4,3.8,18.8
4,Dario Saric,2016,32,24.1,9.5,3.5,9.0,38.7,1.3,3.6,...,1.7,77.4,1.2,4.7,5.9,1.7,0.5,0.2,1.8,10.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1533,Billy Reid,1980,59,10.1,3.2,1.4,3.1,45.4,0.0,0.1,...,0.7,56.4,0.5,0.6,1.0,1.2,0.6,0.1,1.3,2.8
1534,Jerry Sichting,1980,47,9.6,2.0,0.7,2.0,35.8,0.0,0.1,...,0.7,78.1,0.2,0.7,0.9,1.5,0.5,0.0,0.6,2.9
1535,Reggie Carter,1980,60,8.9,2.8,1.0,3.0,33.0,0.0,0.1,...,1.2,73.9,0.5,0.7,1.2,1.3,0.4,0.0,0.6,2.7
1536,Mike Harper,1980,55,8.4,2.7,1.0,2.5,41.2,0.0,0.1,...,1.5,43.5,0.5,1.2,1.7,0.3,0.4,0.4,0.6,2.6
1537,Mike Niles,1980,44,5.3,2.6,1.1,3.1,34.8,0.0,0.1,...,0.8,45.9,0.6,0.7,1.3,0.3,0.2,0.0,0.6,1.4

In [528]:
df_rookies.rename(columns={'Name': 'Player','Year Drafted': 'Year'}, inplace=True)

In [529]:
df_merged = pd.merge(agrupado, df_rookies[["Player","Year"]], on='Player', how='inner')

In [530]:
df_merged.rename(columns={'Year_y': 'Drafted','Year_x': 'Seasons'}, inplace=True)

In [531]:
df_merged

,Player,Seasons,Drafted
0,A.C. Green,"[1986, 1987, 1988, 1989, 1990, 1991, 1992, 199...",1985
1,A.J. English,"[1991, 1992]",1990
2,A.J. Price,"[2010, 2011, 2012, 2013, 2014, 2015, 2015, 2015]",2009
3,Aaron Brooks,"[2008, 2009, 2010, 2011, 2011, 2011, 2013, 201...",2007
4,Aaron Gordon,"[2015, 2016, 2017, 2018, 2019, 2020, 2020, 202...",2014
...,...,...,...
1351,Zach LaVine,"[2015, 2016, 2017, 2018, 2019, 2020, 2021]",2014
1352,Zach Randolph,"[2003, 2004, 2005, 2006, 2007, 2008, 2009, 200...",2001
1353,Zan Tabak,"[1995, 1996, 1998, 1998]",1994
1354,Zaza Pachulia,[2018],2003
1355,Zydrunas Ilgauskas,"[1998, 2001, 2002, 2003, 2004, 2005, 2006, 200...",1997

Por algun motivo existen valores repetidos en las listas de años jugados. Por lo que los quitamos.

In [532]:
df_merged['Seasons'] = df_merged['Seasons'].apply(lambda x: list(dict.fromkeys(x)))

Creamos una columna "Duration", que representa la cantidad de temporadas que a jugado el jugador en la NBA.

In [533]:
df_merged["Duration"] = df_merged["Seasons"].apply(lambda x: len(x))

In [534]:
df_merged

,Player,Seasons,Drafted,Duration
0,A.C. Green,"[1986, 1987, 1988, 1989, 1990, 1991, 1992, 199...",1985,16
1,A.J. English,"[1991, 1992]",1990,2
2,A.J. Price,"[2010, 2011, 2012, 2013, 2014, 2015]",2009,6
3,Aaron Brooks,"[2008, 2009, 2010, 2011, 2013, 2014, 2015, 201...",2007,9
4,Aaron Gordon,"[2015, 2016, 2017, 2018, 2019, 2020, 2021]",2014,7
...,...,...,...,...
1351,Zach LaVine,"[2015, 2016, 2017, 2018, 2019, 2020, 2021]",2014,7
1352,Zach Randolph,"[2003, 2004, 2005, 2006, 2007, 2008, 2009, 201...",2001,15
1353,Zan Tabak,"[1995, 1996, 1998]",1994,3
1354,Zaza Pachulia,[2018],2003,1
1355,Zydrunas Ilgauskas,"[1998, 2001, 2002, 2003, 2004, 2005, 2006, 200...",1997,12

In [535]:
f_seas = list(map(lambda x: x[0][0] - x[1] ,zip(df_merged["Seasons"],df_merged["Drafted"])))

Extraemos los jugadores mal emparejados con merge (Jugadores que tienen mismo nombre y que son emparejados, o jugadores donde falta data)

In [536]:
data_erronenea = [x >2 for x in f_seas]
not_include = df_merged.loc[data_erronenea]
print(len(not_include))
not_include

64

,Player,Seasons,Drafted,Duration
20,Alaa Abdelnaby,"[1993, 1995]",1990,2
34,Alton Lister,"[1985, 1986, 1987, 1988, 1990, 1991, 1995]",1981,7
43,Andre Iguodala,"[2018, 2019, 2020, 2021]",2004,4
54,Andrew Lang,"[1991, 1992, 1993, 1994, 1995, 1996, 1998]",1988,7
85,Armen Gilliam,"[1990, 1991, 1992, 1993, 1994, 1995, 1996, 199...",1987,10
...,...,...,...,...
1255,Timofey Mozgov,"[2013, 2014, 2015, 2016, 2017]",2010,5
1290,Trevor Ariza,"[2019, 2021]",2004,2
1306,Tyson Chandler,"[2004, 2005, 2006, 2007, 2008, 2012, 2014, 201...",2001,9
1346,Winston Bennett,[1992],1989,1
1354,Zaza Pachulia,[2018],2003,1

In [537]:
useful2 = df_all['Player'].isin(not_include['Player'])
useful2

0        False
1        False
2        False
3        False
4        False
         ...
17610    False
17611    False
17612    False
17613    False
17614    False
Name: Player, Length: 17615, dtype: bool

In [538]:
lista_invertida = [not valor for valor in useful2]
df_all = df_all.loc[lista_invertida]

Para los unicos que podemos realmente evaluar en nuestro dataset si han jugado 5 años o más en la NBA es a los jugadores drafteados en el año 2012.

In [539]:
corpus = df_merged # Editado ya que ahora si se pueden usar esos datos

In [540]:
corpus

,Player,Seasons,Drafted,Duration
0,A.C. Green,"[1986, 1987, 1988, 1989, 1990, 1991, 1992, 199...",1985,16
1,A.J. English,"[1991, 1992]",1990,2
2,A.J. Price,"[2010, 2011, 2012, 2013, 2014, 2015]",2009,6
3,Aaron Brooks,"[2008, 2009, 2010, 2011, 2013, 2014, 2015, 201...",2007,9
4,Aaron Gordon,"[2015, 2016, 2017, 2018, 2019, 2020, 2021]",2014,7
...,...,...,...,...
1351,Zach LaVine,"[2015, 2016, 2017, 2018, 2019, 2020, 2021]",2014,7
1352,Zach Randolph,"[2003, 2004, 2005, 2006, 2007, 2008, 2009, 201...",2001,15
1353,Zan Tabak,"[1995, 1996, 1998]",1994,3
1354,Zaza Pachulia,[2018],2003,1
1355,Zydrunas Ilgauskas,"[1998, 2001, 2002, 2003, 2004, 2005, 2006, 200...",1997,12

In [541]:
corpus[corpus["Player"]=="Gary Payton"]

          Player Seasons  Drafted  Duration
465  Gary Payton  [2017]     1990         1

In [542]:
useful = df_all['Player'].isin(corpus['Player'])

In [543]:
players_useful = df_all.loc[useful]
players_useful

,Year,Player,Pos,Age,Tm,G,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
71,1980,Mike Dunleavy,PG,25,HOU,51.0,1036.0,148.0,319.0,0.464,...,0.828,26.0,74.0,100.0,210.0,40.0,4.0,110.0,120.0,410.0
111,1980,Gerald Henderson,PG,24,BOS,76.0,1061.0,191.0,382.0,0.500,...,0.690,37.0,46.0,83.0,147.0,45.0,15.0,109.0,96.0,473.0
125,1980,Eddie Johnson,SG,24,ATL,79.0,2622.0,590.0,1212.0,0.487,...,0.828,95.0,105.0,200.0,370.0,120.0,24.0,189.0,216.0,1465.0
133,1980,Bobby Jones,PF,28,PHI,81.0,2125.0,398.0,748.0,0.532,...,0.781,152.0,298.0,450.0,146.0,102.0,118.0,146.0,223.0,1053.0
296,1981,Michael Brooks,SF,22,SDC,82.0,2479.0,488.0,1018.0,0.479,...,0.706,210.0,232.0,442.0,208.0,99.0,31.0,163.0,234.0,1202.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17601,2021,Justise Winslow,SF,25,POR,11.0,26.8,4.3,10.5,0.405,...,0.560,1.8,4.5,6.3,2.9,1.3,0.6,1.1,1.9,10.7
17609,2021,Thaddeus Young,PF,33,TOT,52.0,16.3,2.7,5.2,0.518,...,0.469,1.5,2.5,4.0,2.0,1.0,0.3,1.0,1.6,6.2
17610,2021,Thaddeus Young,PF,33,SAS,26.0,14.2,2.8,4.9,0.578,...,0.455,1.5,2.0,3.6,2.3,0.9,0.3,1.2,1.5,6.1
17611,2021,Thaddeus Young,PF,33,TOR,26.0,18.3,2.6,5.5,0.465,...,0.481,1.5,2.9,4.4,1.7,1.2,0.4,0.8,1.7,6.3
17614,2021,Cody Zeller,C,29,POR,27.0,13.1,1.9,3.3,0.567,...,0.776,1.9,2.8,4.6,0.8,0.3,0.2,0.7,2.1,5.2

1996 - 2022

In [544]:
intento = pd.read_csv('all_seasons.csv')

intento['season'] = intento['season'].str.slice(stop=4)

intento = intento.loc[intento['season'].astype(int) < 2022]

intento

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Randy Livingston,HOU,22.0,193.04,94.800728,Louisiana State,USA,1996,2,...,3.9,1.5,2.4,0.3,0.042,0.071,0.169,0.487,0.248,1996
1,1,Gaylon Nickerson,WAS,28.0,190.50,86.182480,Northwestern Oklahoma,USA,1994,2,...,3.8,1.3,0.3,8.9,0.030,0.111,0.174,0.497,0.043,1996
2,2,George Lynch,VAN,26.0,203.20,103.418976,North Carolina,USA,1993,1,...,8.3,6.4,1.9,-8.2,0.106,0.185,0.175,0.512,0.125,1996
3,3,George McCloud,LAL,30.0,203.20,102.058200,Florida State,USA,1989,1,...,10.2,2.8,1.7,-2.7,0.027,0.111,0.206,0.527,0.125,1996
4,4,George Zidek,DEN,23.0,213.36,119.748288,UCLA,USA,1995,1,...,2.8,1.7,0.3,-14.1,0.102,0.169,0.195,0.500,0.064,1996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12300,12300,Tobias Harris,PHI,29.0,200.66,102.511792,Tennessee,USA,2011,1,...,17.2,6.8,3.5,3.2,0.032,0.164,0.214,0.566,0.158,2021
12301,12301,Tomas Satoransky,WAS,30.0,200.66,95.254320,NaN,Czech Republic,2012,2,...,3.6,2.3,3.3,-8.0,0.029,0.110,0.124,0.461,0.285,2021
12302,12302,Tony Bradley,CHI,24.0,208.28,112.490816,North Carolina,USA,2017,1,...,3.0,3.4,0.5,5.2,0.123,0.196,0.128,0.600,0.065,2021
12303,12303,Tony Snell,NOP,30.0,198.12,96.615096,New Mexico,USA,2013,1,...,3.5,1.9,0.5,-7.8,0.018,0.107,0.099,0.541,0.047,2021
12304,12304,Terry Rozier,CHA,28.0,185.42,86.182480,Louisville,USA,2015,1,...,19.3,4.3,4.5,1.4,0.021,0.101,0.227,0.566,0.197,2021

In [545]:
intento_ = intento[intento['draft_year'] != 'Undrafted']

intento_

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Randy Livingston,HOU,22.0,193.04,94.800728,Louisiana State,USA,1996,2,...,3.9,1.5,2.4,0.3,0.042,0.071,0.169,0.487,0.248,1996
1,1,Gaylon Nickerson,WAS,28.0,190.50,86.182480,Northwestern Oklahoma,USA,1994,2,...,3.8,1.3,0.3,8.9,0.030,0.111,0.174,0.497,0.043,1996
2,2,George Lynch,VAN,26.0,203.20,103.418976,North Carolina,USA,1993,1,...,8.3,6.4,1.9,-8.2,0.106,0.185,0.175,0.512,0.125,1996
3,3,George McCloud,LAL,30.0,203.20,102.058200,Florida State,USA,1989,1,...,10.2,2.8,1.7,-2.7,0.027,0.111,0.206,0.527,0.125,1996
4,4,George Zidek,DEN,23.0,213.36,119.748288,UCLA,USA,1995,1,...,2.8,1.7,0.3,-14.1,0.102,0.169,0.195,0.500,0.064,1996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12300,12300,Tobias Harris,PHI,29.0,200.66,102.511792,Tennessee,USA,2011,1,...,17.2,6.8,3.5,3.2,0.032,0.164,0.214,0.566,0.158,2021
12301,12301,Tomas Satoransky,WAS,30.0,200.66,95.254320,NaN,Czech Republic,2012,2,...,3.6,2.3,3.3,-8.0,0.029,0.110,0.124,0.461,0.285,2021
12302,12302,Tony Bradley,CHI,24.0,208.28,112.490816,North Carolina,USA,2017,1,...,3.0,3.4,0.5,5.2,0.123,0.196,0.128,0.600,0.065,2021
12303,12303,Tony Snell,NOP,30.0,198.12,96.615096,New Mexico,USA,2013,1,...,3.5,1.9,0.5,-7.8,0.018,0.107,0.099,0.541,0.047,2021
12304,12304,Terry Rozier,CHA,28.0,185.42,86.182480,Louisville,USA,2015,1,...,19.3,4.3,4.5,1.4,0.021,0.101,0.227,0.566,0.197,2021

In [546]:
intento_ = intento_.groupby('player_name').agg({'season': list, 'draft_year': 'first'}).reset_index()
intento_

,player_name,season,draft_year
0,A.C. Green,"[1996, 1997, 1998, 1999, 2000]",1985
1,A.J. Bramlett,[1999],1999
2,A.J. Guyton,"[2000, 2001, 2002]",2000
3,AJ Hammons,[2016],2016
4,AJ Price,"[2009, 2010, 2011, 2012, 2013, 2014]",2009
...,...,...,...
1737,Zhou Qi,"[2017, 2018]",2016
1738,Ziaire Williams,[2021],2021
1739,Zion Williamson,"[2019, 2020]",2019
1740,Zoran Planinic,"[2003, 2004, 2005]",2003
1741,Zydrunas Ilgauskas,"[1997, 1998, 2000, 2001, 2002, 2003, 2004, 200...",1996

In [547]:
intento_['duration'] = intento_['season'].apply(len)

final = intento_[intento_['duration'] >= 5].reset_index(drop=True)

final

,player_name,season,draft_year,duration
0,A.C. Green,"[1996, 1997, 1998, 1999, 2000]",1985,5
1,AJ Price,"[2009, 2010, 2011, 2012, 2013, 2014]",2009,6
2,Aaron Brooks,"[2007, 2008, 2009, 2010, 2012, 2013, 2014, 201...",2007,10
3,Aaron Gordon,"[2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]",2014,8
4,Aaron Gray,"[2007, 2008, 2009, 2010, 2011, 2012, 2013]",2007,7
...,...,...,...,...
862,Zach LaVine,"[2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]",2014,8
863,Zach Randolph,"[2001, 2002, 2003, 2004, 2005, 2006, 2007, 200...",2001,17
864,Zaza Pachulia,"[2003, 2004, 2005, 2006, 2007, 2008, 2009, 201...",2003,16
865,Zeljko Rebraca,"[2001, 2002, 2003, 2004, 2005]",1994,5
866,Zydrunas Ilgauskas,"[1997, 1998, 2000, 2001, 2002, 2003, 2004, 200...",1996,13

In [548]:
f_new = list(map(lambda x: int(x[0][0]) - int(x[1]) ,zip(final["season"],final["draft_year"])))


data_erronenea = [x >2 for x in f_new]
not_include = final.loc[data_erronenea]
print(len(not_include))
not_include

159

,player_name,season,draft_year,duration
0,A.C. Green,"[1996, 1997, 1998, 1999, 2000]",1985,5
7,Adam Keefe,"[1996, 1997, 1998, 1999, 2000]",1992,5
17,Allan Houston,"[1996, 1997, 1998, 1999, 2000, 2001, 2002, 200...",1993,9
20,Alonzo Mourning,"[1996, 1997, 1998, 1999, 2000, 2001, 2003, 200...",1992,11
38,Anfernee Hardaway,"[1996, 1997, 1998, 1999, 2000, 2001, 2002, 200...",1993,11
...,...,...,...,...
838,Vinny Del Negro,"[1996, 1997, 1998, 1999, 2000, 2001]",1988,6
840,Vlade Divac,"[1996, 1997, 1998, 1999, 2000, 2001, 2002, 200...",1989,9
846,Walt Williams,"[1996, 1997, 1998, 1999, 2000, 2001, 2002]",1992,7
854,Will Perdue,"[1996, 1997, 1998, 1999, 2000]",1988,5
865,Zeljko Rebraca,"[2001, 2002, 2003, 2004, 2005]",1994,5

In [549]:
for i in range(len(data_erronenea)):
    if data_erronenea[i]:
        final = final.drop(index=i)

In [550]:
final = final.reset_index(drop=True)

final

,player_name,season,draft_year,duration
0,AJ Price,"[2009, 2010, 2011, 2012, 2013, 2014]",2009,6
1,Aaron Brooks,"[2007, 2008, 2009, 2010, 2012, 2013, 2014, 201...",2007,10
2,Aaron Gordon,"[2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]",2014,8
3,Aaron Gray,"[2007, 2008, 2009, 2010, 2011, 2012, 2013]",2007,7
4,Aaron McKie,"[1996, 1997, 1998, 1999, 2000, 2001, 2002, 200...",1994,11
...,...,...,...,...
703,Yi Jianlian,"[2007, 2008, 2009, 2010, 2011]",2007,5
704,Zach LaVine,"[2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]",2014,8
705,Zach Randolph,"[2001, 2002, 2003, 2004, 2005, 2006, 2007, 200...",2001,17
706,Zaza Pachulia,"[2003, 2004, 2005, 2006, 2007, 2008, 2009, 201...",2003,16
707,Zydrunas Ilgauskas,"[1997, 1998, 2000, 2001, 2002, 2003, 2004, 200...",1996,13

In [551]:
df_all

,Year,Player,Pos,Age,Tm,G,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1980,Kareem Abdul-Jabbar*,C,32,LAL,82.0,3143.0,835.0,1383.0,0.604,...,0.765,190.0,696.0,886.0,371.0,81.0,280.0,297.0,216.0,2034.0
1,1980,Tom Abernethy,PF,25,GSW,67.0,1222.0,153.0,318.0,0.481,...,0.683,62.0,129.0,191.0,87.0,35.0,12.0,39.0,118.0,362.0
2,1980,Alvan Adams,C,25,PHO,75.0,2168.0,465.0,875.0,0.531,...,0.797,158.0,451.0,609.0,322.0,108.0,55.0,218.0,237.0,1118.0
3,1980,Tiny Archibald*,PG,31,BOS,80.0,2864.0,383.0,794.0,0.482,...,0.830,59.0,138.0,197.0,671.0,106.0,10.0,242.0,218.0,1131.0
4,1980,Gus Bailey,SG,28,WSB,20.0,180.0,16.0,35.0,0.457,...,0.385,6.0,22.0,28.0,26.0,7.0,4.0,11.0,18.0,38.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17610,2021,Thaddeus Young,PF,33,SAS,26.0,14.2,2.8,4.9,0.578,...,0.455,1.5,2.0,3.6,2.3,0.9,0.3,1.2,1.5,6.1
17611,2021,Thaddeus Young,PF,33,TOR,26.0,18.3,2.6,5.5,0.465,...,0.481,1.5,2.9,4.4,1.7,1.2,0.4,0.8,1.7,6.3
17612,2021,Trae Young,PG,23,ATL,76.0,34.9,9.4,20.3,0.460,...,0.904,0.7,3.1,3.7,9.7,0.9,0.1,4.0,1.7,28.4
17613,2021,Omer Yurtseven,C,23,MIA,56.0,12.6,2.3,4.4,0.526,...,0.623,1.5,3.7,5.3,0.9,0.3,0.4,0.7,1.5,5.3
17614,2021,Cody Zeller,C,29,POR,27.0,13.1,1.9,3.3,0.567,...,0.776,1.9,2.8,4.6,0.8,0.3,0.2,0.7,2.1,5.2

In [552]:
drafteados = final[['player_name']]

drafteados

            player_name
0              AJ Price
1          Aaron Brooks
2          Aaron Gordon
3            Aaron Gray
4           Aaron McKie
..                  ...
703         Yi Jianlian
704         Zach LaVine
705       Zach Randolph
706       Zaza Pachulia
707  Zydrunas Ilgauskas

[708 rows x 1 columns]

In [553]:
target = corpus[corpus["Duration"] >= 5]
target = target[["Player"]]

In [554]:
target

                  Player
0             A.C. Green
2             A.J. Price
3           Aaron Brooks
4           Aaron Gordon
6            Aaron McKie
...                  ...
1349     Xavier McDaniel
1350         Yi Jianlian
1351         Zach LaVine
1352       Zach Randolph
1355  Zydrunas Ilgauskas

[812 rows x 1 columns]

In [555]:
tar = drafteados['player_name'].tolist()

In [556]:
tar.extend(target['Player'].tolist())

tar = set(tar)

In [557]:
target = pd.DataFrame(tar, columns=['Player'])
target = target.sort_values(by='Player').reset_index(drop=True)

In [558]:
target

                  Player
0             A.C. Green
1             A.J. Price
2               AJ Price
3           Aaron Brooks
4           Aaron Gordon
...                  ...
1073         Yi Jianlian
1074         Zach LaVine
1075       Zach Randolph
1076       Zaza Pachulia
1077  Zydrunas Ilgauskas

[1078 rows x 1 columns]

In [559]:
esta_en_subset = players_useful['Player'].isin(target['Player'])

In [560]:
players_useful['target'] = esta_en_subset.astype(int)

C:\Users\jor_x\AppData\Local\Temp\ipykernel_10700\2384354644.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  players_useful['target'] = esta_en_subset.astype(int)

In [561]:
players_useful

,Year,Player,Pos,Age,Tm,G,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,target
71,1980,Mike Dunleavy,PG,25,HOU,51.0,1036.0,148.0,319.0,0.464,...,26.0,74.0,100.0,210.0,40.0,4.0,110.0,120.0,410.0,1
111,1980,Gerald Henderson,PG,24,BOS,76.0,1061.0,191.0,382.0,0.500,...,37.0,46.0,83.0,147.0,45.0,15.0,109.0,96.0,473.0,1
125,1980,Eddie Johnson,SG,24,ATL,79.0,2622.0,590.0,1212.0,0.487,...,95.0,105.0,200.0,370.0,120.0,24.0,189.0,216.0,1465.0,1
133,1980,Bobby Jones,PF,28,PHI,81.0,2125.0,398.0,748.0,0.532,...,152.0,298.0,450.0,146.0,102.0,118.0,146.0,223.0,1053.0,1
296,1981,Michael Brooks,SF,22,SDC,82.0,2479.0,488.0,1018.0,0.479,...,210.0,232.0,442.0,208.0,99.0,31.0,163.0,234.0,1202.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17601,2021,Justise Winslow,SF,25,POR,11.0,26.8,4.3,10.5,0.405,...,1.8,4.5,6.3,2.9,1.3,0.6,1.1,1.9,10.7,1
17609,2021,Thaddeus Young,PF,33,TOT,52.0,16.3,2.7,5.2,0.518,...,1.5,2.5,4.0,2.0,1.0,0.3,1.0,1.6,6.2,1
17610,2021,Thaddeus Young,PF,33,SAS,26.0,14.2,2.8,4.9,0.578,...,1.5,2.0,3.6,2.3,0.9,0.3,1.2,1.5,6.1,1
17611,2021,Thaddeus Young,PF,33,TOR,26.0,18.3,2.6,5.5,0.465,...,1.5,2.9,4.4,1.7,1.2,0.4,0.8,1.7,6.3,1
17614,2021,Cody Zeller,C,29,POR,27.0,13.1,1.9,3.3,0.567,...,1.9,2.8,4.6,0.8,0.3,0.2,0.7,2.1,5.2,1

In [248]:
players_useful = players_useful.drop(columns=["Year"])

In [249]:
first_season = players_useful.drop_duplicates(subset=['Player'],keep='first')

In [250]:
first_season

,Player,Pos,Age,Tm,G,MP,PER,TS%,OWS,DWS,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,target
71,Mike Dunleavy,PG,25,HOU,51.0,1036.0,12.9,0.542,0.9,0.5,...,26.0,74.0,100.0,210.0,40.0,4.0,110.0,120.0,410.0,1
111,Gerald Henderson,PG,24,BOS,76.0,1061.0,12.7,0.539,0.5,1.2,...,37.0,46.0,83.0,147.0,45.0,15.0,109.0,96.0,473.0,1
125,Eddie Johnson,SG,24,ATL,79.0,2622.0,18.0,0.538,5.4,2.7,...,95.0,105.0,200.0,370.0,120.0,24.0,189.0,216.0,1465.0,1
133,Bobby Jones,PF,28,PHI,81.0,2125.0,18.5,0.590,4.3,3.8,...,152.0,298.0,450.0,146.0,102.0,118.0,146.0,223.0,1053.0,1
296,Michael Brooks,SF,22,SDC,82.0,2479.0,15.8,0.519,3.2,1.7,...,210.0,232.0,442.0,208.0,99.0,31.0,163.0,234.0,1202.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15002,Tomas Satoransky,SG,25,WAS,57.0,719.0,8.5,0.480,0.1,0.5,...,25.0,58.0,83.0,92.0,26.0,6.0,38.0,60.0,154.0,0
15013,Pascal Siakam,PF,22,TOR,55.0,859.0,11.5,0.523,0.4,1.2,...,64.0,121.0,185.0,17.0,26.0,45.0,33.0,109.0,229.0,1
15054,Denzel Valentine,SG,23,CHI,57.0,976.0,7.3,0.492,-0.5,1.1,...,11.0,140.0,151.0,63.0,30.0,7.0,49.0,86.0,291.0,1
15074,Isaiah Whitehead,PG,21,BRK,73.0,1643.0,7.5,0.487,-1.7,0.9,...,32.0,152.0,184.0,192.0,42.0,36.0,142.0,175.0,543.0,0
15089,Troy Williams,SF,22,TOT,30.0,557.0,8.9,0.511,-0.4,0.7,...,15.0,54.0,69.0,25.0,27.0,10.0,33.0,60.0,185.0,0

In [45]:
first_season.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'MP', 'PER', 'TS%', 'OWS', 'DWS',
       'WS', 'WS/48', 'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%',
       '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB',
       'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'target'],
      dtype='object')

OneHotEncoding

In [55]:
def OHE(df, colm):
    categorias = list(df[colm].unique())
    print(categorias)

    y = [[s] for s in df[colm]]

    enc = OneHotEncoder(categories=[categorias])
    enc.fit(y)
    ohe_type = enc.transform(y).toarray()

    df_ohe = pd.DataFrame(ohe_type, columns=categorias)
    return df_ohe

In [56]:
df_ohe_Pos = OHE(first_season, "Pos")

['PG', 'SG', 'PF', 'SF', 'C', 'C-PF', 'SF-PF', 'SF-SG', 'PF-SF', 'PF-C', 'SG-SF', 'PG-SG', 'SG-PG']

In [57]:
first_season = first_season.drop(columns=["Pos"])

In [58]:
first_season = first_season.reset_index(drop=True)

In [59]:
resultado = pd.merge(first_season, df_ohe_Pos, left_index=True, right_index=True)

In [60]:
resultado

,Player,Age,Tm,G,MP,PER,TS%,OWS,DWS,WS,...,SF,C,C-PF,SF-PF,SF-SG,PF-SF,PF-C,SG-SF,PG-SG,SG-PG
0,Mike Dunleavy,25,HOU,51.0,1036.0,12.9,0.542,0.9,0.5,1.4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Gerald Henderson,24,BOS,76.0,1061.0,12.7,0.539,0.5,1.2,1.7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Eddie Johnson,24,ATL,79.0,2622.0,18.0,0.538,5.4,2.7,8.2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Bobby Jones,28,PHI,81.0,2125.0,18.5,0.590,4.3,3.8,8.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Michael Brooks,22,SDC,82.0,2479.0,15.8,0.519,3.2,1.7,4.9,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,Tomas Satoransky,25,WAS,57.0,719.0,8.5,0.480,0.1,0.5,0.6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1280,Pascal Siakam,22,TOR,55.0,859.0,11.5,0.523,0.4,1.2,1.6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1281,Denzel Valentine,23,CHI,57.0,976.0,7.3,0.492,-0.5,1.1,0.6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1282,Isaiah Whitehead,21,BRK,73.0,1643.0,7.5,0.487,-1.7,0.9,-0.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1283,Troy Williams,22,TOT,30.0,557.0,8.9,0.511,-0.4,0.7,0.3,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Equipos

In [61]:
categorias = list(resultado["Tm"].unique())
print(categorias)

['HOU', 'BOS', 'ATL', 'PHI', 'SDC', 'LAL', 'NYK', 'TOT', 'NJN', 'DET', 'UTA', 'SEA', 'POR', 'DEN', 'SAS', 'PHO', 'IND', 'GSW', 'CHI', 'DAL', 'WSB', 'KCK', 'CLE', 'MIL', 'LAC', 'SAC', 'CHH', 'MIA', 'ORL', 'MIN', 'TOR', 'VAN', 'WAS', 'MEM', 'NOH', 'CHA', 'NOK', 'OKC', 'BRK', 'NOP', 'CHO']

In [62]:
resultado['Tm'] = resultado['Tm'].replace('SDC', 'LAC')
resultado['Tm'] = resultado['Tm'].replace('SEA', 'OKC')
resultado['Tm'] = resultado['Tm'].replace('KCK', 'SAC')
resultado['Tm'] = resultado['Tm'].replace('VAN', 'MEM')
resultado['Tm'] = resultado['Tm'].replace('WSB', 'WAS')
resultado['Tm'] = resultado['Tm'].replace('CHH', 'CHA')
resultado['Tm'] = resultado['Tm'].replace('NOH', 'NOK')

In [63]:
df_ohe_Tm = OHE(resultado, "Tm")

['HOU', 'BOS', 'ATL', 'PHI', 'LAC', 'LAL', 'NYK', 'TOT', 'NJN', 'DET', 'UTA', 'OKC', 'POR', 'DEN', 'SAS', 'PHO', 'IND', 'GSW', 'CHI', 'DAL', 'WAS', 'SAC', 'CLE', 'MIL', 'CHA', 'MIA', 'ORL', 'MIN', 'TOR', 'MEM', 'NOK', 'BRK', 'NOP', 'CHO']

In [64]:
df_ohe_Tm

,HOU,BOS,ATL,PHI,LAC,LAL,NYK,TOT,NJN,DET,...,CHA,MIA,ORL,MIN,TOR,MEM,NOK,BRK,NOP,CHO
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1280,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1281,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1282,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1283,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [65]:
resultado = resultado.drop(columns=["Tm"])

In [66]:
without_cualitatives = pd.merge(resultado, df_ohe_Tm, left_index=True, right_index=True)

In [67]:
without_cualitatives

,Player,Age,G,MP,PER,TS%,OWS,DWS,WS,WS/48,...,CHA,MIA,ORL,MIN,TOR,MEM,NOK,BRK,NOP,CHO
0,Mike Dunleavy,25,51.0,1036.0,12.9,0.542,0.9,0.5,1.4,0.065,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Gerald Henderson,24,76.0,1061.0,12.7,0.539,0.5,1.2,1.7,0.078,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Eddie Johnson,24,79.0,2622.0,18.0,0.538,5.4,2.7,8.2,0.150,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Bobby Jones,28,81.0,2125.0,18.5,0.590,4.3,3.8,8.1,0.183,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Michael Brooks,22,82.0,2479.0,15.8,0.519,3.2,1.7,4.9,0.095,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,Tomas Satoransky,25,57.0,719.0,8.5,0.480,0.1,0.5,0.6,0.041,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1280,Pascal Siakam,22,55.0,859.0,11.5,0.523,0.4,1.2,1.6,0.089,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1281,Denzel Valentine,23,57.0,976.0,7.3,0.492,-0.5,1.1,0.6,0.031,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1282,Isaiah Whitehead,21,73.0,1643.0,7.5,0.487,-1.7,0.9,-0.8,-0.023,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1283,Troy Williams,22,30.0,557.0,8.9,0.511,-0.4,0.7,0.3,0.030,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0