In [48]:
import pandas as pd

In [49]:
url = 'https://raw.githubusercontent.com/JavoAlejandro/Longevidad_NBA/main/NBA%20All%20Players.csv'
df_all = pd.read_csv(url)

1980-2017

In [50]:
df_all

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,689,1980.0,Kareem Abdul-Jabbar*,C,32.0,LAL,82.0,3143.0,25.3,0.639,...,0.765,190.0,696.0,886.0,371.0,81.0,280.0,297.0,216.0,2034.0
1,690,1980.0,Tom Abernethy,PF,25.0,GSW,67.0,1222.0,11.0,0.511,...,0.683,62.0,129.0,191.0,87.0,35.0,12.0,39.0,118.0,362.0
2,691,1980.0,Alvan Adams,C,25.0,PHO,75.0,2168.0,19.2,0.571,...,0.797,158.0,451.0,609.0,322.0,108.0,55.0,218.0,237.0,1118.0
3,692,1980.0,Tiny Archibald*,PG,31.0,BOS,80.0,2864.0,15.3,0.574,...,0.830,59.0,138.0,197.0,671.0,106.0,10.0,242.0,218.0,1131.0
4,694,1980.0,Gus Bailey,SG,28.0,WSB,20.0,180.0,9.3,0.467,...,0.385,6.0,22.0,28.0,26.0,7.0,4.0,11.0,18.0,38.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15102,19610,2017.0,Thaddeus Young,PF,28.0,IND,74.0,2237.0,14.9,0.562,...,0.523,131.0,318.0,449.0,122.0,114.0,30.0,96.0,135.0,814.0
15103,19611,2017.0,Cody Zeller,PF,24.0,CHO,62.0,1725.0,16.7,0.604,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
15104,19612,2017.0,Tyler Zeller,C,27.0,BOS,51.0,525.0,13.0,0.508,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
15105,19614,2017.0,Paul Zipser,SF,22.0,CHI,44.0,843.0,6.9,0.503,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
15106,19615,2017.0,Ivica Zu,C,19.0,LAL,38.0,609.0,17.0,0.547,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [51]:
df_all = df_all.drop(columns=["Unnamed: 0"])
df_all

,Year,Player,Pos,Age,Tm,G,MP,PER,TS%,OWS,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1980.0,Kareem Abdul-Jabbar*,C,32.0,LAL,82.0,3143.0,25.3,0.639,9.5,...,0.765,190.0,696.0,886.0,371.0,81.0,280.0,297.0,216.0,2034.0
1,1980.0,Tom Abernethy,PF,25.0,GSW,67.0,1222.0,11.0,0.511,1.2,...,0.683,62.0,129.0,191.0,87.0,35.0,12.0,39.0,118.0,362.0
2,1980.0,Alvan Adams,C,25.0,PHO,75.0,2168.0,19.2,0.571,3.1,...,0.797,158.0,451.0,609.0,322.0,108.0,55.0,218.0,237.0,1118.0
3,1980.0,Tiny Archibald*,PG,31.0,BOS,80.0,2864.0,15.3,0.574,5.9,...,0.830,59.0,138.0,197.0,671.0,106.0,10.0,242.0,218.0,1131.0
4,1980.0,Gus Bailey,SG,28.0,WSB,20.0,180.0,9.3,0.467,0.0,...,0.385,6.0,22.0,28.0,26.0,7.0,4.0,11.0,18.0,38.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15102,2017.0,Thaddeus Young,PF,28.0,IND,74.0,2237.0,14.9,0.562,1.9,...,0.523,131.0,318.0,449.0,122.0,114.0,30.0,96.0,135.0,814.0
15103,2017.0,Cody Zeller,PF,24.0,CHO,62.0,1725.0,16.7,0.604,3.4,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
15104,2017.0,Tyler Zeller,C,27.0,BOS,51.0,525.0,13.0,0.508,0.5,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
15105,2017.0,Paul Zipser,SF,22.0,CHI,44.0,843.0,6.9,0.503,-0.3,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
15106,2017.0,Ivica Zu,C,19.0,LAL,38.0,609.0,17.0,0.547,0.6,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [52]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15107 entries, 0 to 15106
Data columns (total 37 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    15107 non-null  float64
 1   Player  15107 non-null  object
 2   Pos     15107 non-null  object
 3   Age     15107 non-null  float64
 4   Tm      15107 non-null  object
 5   G       15107 non-null  float64
 6   MP      15107 non-null  float64
 7   PER     15107 non-null  float64
 8   TS%     15107 non-null  float64
 9   OWS     15107 non-null  float64
 10  DWS     15107 non-null  float64
 11  WS      15107 non-null  float64
 12  WS/48   15107 non-null  float64
 13  BPM     15107 non-null  float64
 14  VORP    15107 non-null  float64
 15  FG      15107 non-null  float64
 16  FGA     15107 non-null  float64
 17  FG%     15107 non-null  float64
 18  3P      15107 non-null  float64
 19  3PA     15107 non-null  float64
 20  3P%     15107 non-null  float64
 21  2P      15107 non-null  float64
 22  2PA     15107 non-null  float64
 23  2P%     15107 non-null  float64
 24  eFG%    15107 non-null  float64
 25  FT      15107 non-null  float64
 26  FTA     15107 non-null  float64
 27  FT%     15107 non-null  float64
 28  ORB     15107 non-null  float64
 29  DRB     15107 non-null  float64
 30  TRB     15107 non-null  float64
 31  AST     15107 non-null  float64
 32  STL     15107 non-null  float64
 33  BLK     15107 non-null  float64
 34  TOV     15107 non-null  float64
 35  PF      15107 non-null  float64
 36  PTS     15107 non-null  float64
dtypes: float64(34), object(3)
memory usage: 4.3+ MB

In [53]:
df_all['Year'] = df_all['Year'].astype(int)
df_all['Age'] = df_all['Age'].astype(int)

In [54]:
agrupado = df_all.groupby('Player')['Year'].apply(list).reset_index()

In [55]:
agrupado

                  Player                                               Year
0             A.C. Green  [1986, 1987, 1988, 1989, 1990, 1991, 1992, 199...
1           A.J. English                                       [1991, 1992]
2            A.J. Guyton                                       [2001, 2002]
3           A.J. Hammons                                             [2017]
4             A.J. Price   [2010, 2011, 2012, 2013, 2014, 2015, 2015, 2015]
...                  ...                                                ...
2411       Zarko Paspalj                                             [1990]
2412        Zaza Pachuli  [2005, 2006, 2007, 2008, 2009, 2010, 2013, 201...
2413         Zoran Dragi                                 [2015, 2015, 2015]
2414       Zoran Planini                                 [2004, 2005, 2006]
2415  Zydrunas Ilgauskas  [1998, 2001, 2002, 2003, 2004, 2005, 2006, 200...

[2416 rows x 2 columns]

In [56]:
agrupado[agrupado["Player"] == "LeBron James"]["Year"]

1427    [2004, 2005, 2006, 2007, 2008, 2009, 2010, 201...
Name: Year, dtype: object

# Dataset Rookies

In [57]:
path = "NBA_Rookies_by_Year.xlsx"
df_rookies = pd.read_excel(path)

1980-2016

In [58]:
df_rookies

,Name,Year Drafted,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,EFF
0,Brandon Ingram,2016,36,27.4,7.4,2.6,7.6,34.7,0.5,2.1,...,2.3,69.9,0.7,3.4,4.1,1.9,0.4,0.4,1.3,7.3
1,Andrew Harrison,2016,35,26.9,7.2,2.0,6.7,29.6,0.7,2.8,...,3.4,76.5,0.5,2.0,2.4,3.7,1.1,0.5,1.6,7.9
2,Rodney McGruder,2016,30,25.7,5.8,2.1,5.3,40.0,0.8,2.6,...,1.0,72.4,1.5,2.0,3.5,1.5,0.7,0.3,0.7,7.5
3,Joel Embiid,2016,22,24.8,18.9,6.2,13.4,46.4,1.2,3.0,...,6.8,77.3,2.0,5.4,7.3,1.9,0.8,2.4,3.8,18.8
4,Dario Saric,2016,32,24.1,9.5,3.5,9.0,38.7,1.3,3.6,...,1.7,77.4,1.2,4.7,5.9,1.7,0.5,0.2,1.8,10.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1533,Billy Reid,1980,59,10.1,3.2,1.4,3.1,45.4,0.0,0.1,...,0.7,56.4,0.5,0.6,1.0,1.2,0.6,0.1,1.3,2.8
1534,Jerry Sichting,1980,47,9.6,2.0,0.7,2.0,35.8,0.0,0.1,...,0.7,78.1,0.2,0.7,0.9,1.5,0.5,0.0,0.6,2.9
1535,Reggie Carter,1980,60,8.9,2.8,1.0,3.0,33.0,0.0,0.1,...,1.2,73.9,0.5,0.7,1.2,1.3,0.4,0.0,0.6,2.7
1536,Mike Harper,1980,55,8.4,2.7,1.0,2.5,41.2,0.0,0.1,...,1.5,43.5,0.5,1.2,1.7,0.3,0.4,0.4,0.6,2.6
1537,Mike Niles,1980,44,5.3,2.6,1.1,3.1,34.8,0.0,0.1,...,0.8,45.9,0.6,0.7,1.3,0.3,0.2,0.0,0.6,1.4

In [59]:
df_rookies.rename(columns={'Name': 'Player','Year Drafted': 'Year'}, inplace=True)

In [60]:
df_merged = pd.merge(agrupado, df_rookies[["Player","Year"]], on='Player', how='inner')

In [61]:
df_merged.rename(columns={'Year_y': 'Drafted','Year_x': 'Seasons'}, inplace=True)

In [62]:
df_merged

,Player,Seasons,Drafted
0,A.C. Green,"[1986, 1987, 1988, 1989, 1990, 1991, 1992, 199...",1985
1,A.J. English,"[1991, 1992]",1990
2,A.J. Price,"[2010, 2011, 2012, 2013, 2014, 2015, 2015, 2015]",2009
3,Aaron Brooks,"[2008, 2009, 2010, 2011, 2011, 2011, 2013, 201...",2007
4,Aaron Gordon,"[2015, 2016, 2017]",2014
...,...,...,...
1334,Yi Jianlian,"[2008, 2009, 2010, 2011, 2012]",2007
1335,Zach LaVine,"[2015, 2016, 2017]",2014
1336,Zach Randolph,"[2003, 2004, 2005, 2006, 2007, 2008, 2009, 200...",2001
1337,Zan Tabak,"[1995, 1996, 1998, 1998]",1994
1338,Zydrunas Ilgauskas,"[1998, 2001, 2002, 2003, 2004, 2005, 2006, 200...",1997

Por algun motivo existen valores repetidos en las listas de años jugados. Por lo que los quitamos.

In [63]:
df_merged['Seasons'] = df_merged['Seasons'].apply(lambda x: list(dict.fromkeys(x)))

Creamos una columna "Duration", que representa la cantidad de temporadas que a jugado el jugador en la NBA.

In [64]:
df_merged["Duration"] = df_merged["Seasons"].apply(lambda x: len(x))

In [65]:
df_merged

,Player,Seasons,Drafted,Duration
0,A.C. Green,"[1986, 1987, 1988, 1989, 1990, 1991, 1992, 199...",1985,16
1,A.J. English,"[1991, 1992]",1990,2
2,A.J. Price,"[2010, 2011, 2012, 2013, 2014, 2015]",2009,6
3,Aaron Brooks,"[2008, 2009, 2010, 2011, 2013, 2014, 2015, 201...",2007,9
4,Aaron Gordon,"[2015, 2016, 2017]",2014,3
...,...,...,...,...
1334,Yi Jianlian,"[2008, 2009, 2010, 2011, 2012]",2007,5
1335,Zach LaVine,"[2015, 2016, 2017]",2014,3
1336,Zach Randolph,"[2003, 2004, 2005, 2006, 2007, 2008, 2009, 201...",2001,15
1337,Zan Tabak,"[1995, 1996, 1998]",1994,3
1338,Zydrunas Ilgauskas,"[1998, 2001, 2002, 2003, 2004, 2005, 2006, 200...",1997,12

In [66]:
f_seas = list(map(lambda x: x[0][0] - x[1] ,zip(df_merged["Seasons"],df_merged["Drafted"])))

Extraemos los jugadores mal emparejados con merge (Jugadores que tienen mismo nombre y que son emparejados, o jugadores donde falta data)

In [67]:
data_erronenea = [x >2 for x in f_seas]
not_include = df_merged.loc[data_erronenea]
print(len(not_include))
not_include

48

,Player,Seasons,Drafted,Duration
20,Alaa Abdelnaby,"[1993, 1995]",1990,2
34,Alton Lister,"[1985, 1986, 1987, 1988, 1990, 1991, 1995]",1981,7
53,Andrew Lang,"[1991, 1992, 1993, 1994, 1995, 1996, 1998]",1988,7
84,Armen Gilliam,"[1990, 1991, 1992, 1993, 1994, 1995, 1996, 199...",1987,10
102,Bill Curley,"[1998, 1999, 2000, 2001]",1994,4
115,Bismack Biyombo,[2016],2011,1
117,Blair Rasmussen,"[1990, 1991, 1992, 1993]",1985,4
144,Brendan Haywood,"[2004, 2010, 2011, 2013]",2001,4
307,Darvin Ham,"[2000, 2001, 2002, 2003, 2004]",1996,5
315,David Lee,"[2008, 2009, 2010, 2011, 2012, 2013, 2014, 201...",2005,9
348,Derrick Favors,"[2013, 2014, 2015, 2016, 2017]",2010,5
371,Donald Hodge,[1995],1991,1
403,Ed Nealy,"[1987, 1988, 1989, 1990, 1991, 1992, 1993]",1982,7
412,Eddy Curry,"[2004, 2007]",2001,2
429,Eric Leckner,"[1992, 1994, 1995]",1988,3
463,Gary Payton,[2017],1990,1
479,Gheorghe Muresan,[1996],1993,1
498,Greg Kite,"[1986, 1987, 1988, 1990, 1992, 1993]",1983,6
517,Hilton Armstrong,"[2009, 2010, 2011]",2006,3
525,Ike Diogu,[2009],2005,1
584,Jeff Ayres,"[2013, 2016]",2009,2
615,Jim McIlvaine,"[1997, 1998]",1994,2
635,Johan Petro,"[2008, 2009, 2010, 2011, 2012, 2013]",2005,6
659,Jon Brockman,[2012],2009,1
679,Josh Powell,"[2008, 2010, 2011]",2005,3
712,Kenneth Faried,"[2014, 2015, 2016, 2017]",2011,4
752,Kosta Koufos,"[2011, 2013, 2017]",2008,3
820,Luc Longley,"[1994, 1995, 1997]",1991,3
862,Mark Blount,"[2005, 2007, 2008, 2009]",2000,4
863,Mark Bryant,"[1991, 1992, 1993, 1994, 1995, 1996, 1998, 1999]",1988,8
908,Michael Ruffin,"[2005, 2006]",1999,2
954,Nazr Mohammed,"[2001, 2002, 2005, 2008, 2011, 2012, 2013]",1998,7
969,Obinna Ekezie,[2005],1999,1
974,Omer Asik,[2013],2010,1
992,Patrick Ewing,[2011],1985,1
1023,Randy Breuer,"[1986, 1990, 1992, 1994]",1983,4
1065,Rickey Brown,[1983],1980,1
1118,Ryan Humphrey,[2005],2002,1
1123,Sam Bowie,"[1989, 1990, 1991, 1992, 1993, 1994, 1995]",1984,7
1146,Sean Williams,[2010],2007,1
1158,Shavlik Randolph,"[2009, 2015]",2005,2
1193,Steve Johnson,"[1985, 1988]",1981,2
1196,Steve Scheffler,[1996],1990,1
1199,Steven Hunter,[2005],2001,1
1202,Stuart Gray,"[1988, 1989, 1990]",1984,3
1240,Timofey Mozgov,"[2013, 2014, 2015, 2016, 2017]",2010,5
1290,Tyson Chandler,"[2004, 2005, 2006, 2007, 2008, 2012, 2014, 2016]",2001,8
1330,Winston Bennett,[1992],1989,1

In [68]:
useful2 = df_all['Player'].isin(not_include['Player'])
useful2

0        False
1        False
2        False
3        False
4        False
         ...
15102    False
15103    False
15104    False
15105    False
15106    False
Name: Player, Length: 15107, dtype: bool

In [69]:
lista_invertida = [not valor for valor in useful2]
df_all = df_all.loc[lista_invertida]

Para los unicos que podemos realmente evaluar en nuestro dataset si han jugado 5 años o más en la NBA es a los jugadores drafteados en el año 2012.

In [70]:
corpus = df_merged[df_merged["Drafted"] < 2013]

In [71]:
corpus

,Player,Seasons,Drafted,Duration
0,A.C. Green,"[1986, 1987, 1988, 1989, 1990, 1991, 1992, 199...",1985,16
1,A.J. English,"[1991, 1992]",1990,2
2,A.J. Price,"[2010, 2011, 2012, 2013, 2014, 2015]",2009,6
3,Aaron Brooks,"[2008, 2009, 2010, 2011, 2013, 2014, 2015, 201...",2007,9
5,Aaron Gray,"[2008, 2009, 2014]",2007,3
...,...,...,...,...
1333,Xavier McDaniel,"[1986, 1987, 1988, 1989, 1990, 1991, 1992, 199...",1985,11
1334,Yi Jianlian,"[2008, 2009, 2010, 2011, 2012]",2007,5
1336,Zach Randolph,"[2003, 2004, 2005, 2006, 2007, 2008, 2009, 201...",2001,15
1337,Zan Tabak,"[1995, 1996, 1998]",1994,3
1338,Zydrunas Ilgauskas,"[1998, 2001, 2002, 2003, 2004, 2005, 2006, 200...",1997,12

In [72]:
corpus[corpus["Player"]=="Gary Payton"]

          Player Seasons  Drafted  Duration
463  Gary Payton  [2017]     1990         1

In [73]:
useful = df_all['Player'].isin(corpus['Player'])

In [74]:
players_useful = df_all.loc[useful]
players_useful

,Year,Player,Pos,Age,Tm,G,MP,PER,TS%,OWS,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
71,1980,Mike Dunleavy,PG,25,HOU,51.0,1036.0,12.9,0.542,0.9,...,0.828,26.0,74.0,100.0,210.0,40.0,4.0,110.0,120.0,410.0
111,1980,Gerald Henderson,PG,24,BOS,76.0,1061.0,12.7,0.539,0.5,...,0.690,37.0,46.0,83.0,147.0,45.0,15.0,109.0,96.0,473.0
125,1980,Eddie Johnson,SG,24,ATL,79.0,2622.0,18.0,0.538,5.4,...,0.828,95.0,105.0,200.0,370.0,120.0,24.0,189.0,216.0,1465.0
133,1980,Bobby Jones,PF,28,PHI,81.0,2125.0,18.5,0.590,4.3,...,0.781,152.0,298.0,450.0,146.0,102.0,118.0,146.0,223.0,1053.0
296,1981,Michael Brooks,SF,22,SDC,82.0,2479.0,15.8,0.519,3.2,...,0.706,210.0,232.0,442.0,208.0,99.0,31.0,163.0,234.0,1202.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15088,2017,Reggie Williams,SF,30,NOP,6.0,79.0,11.7,0.518,0.1,...,0.857,2.0,4.0,6.0,4.0,3.0,0.0,0.0,2.0,27.0
15097,2017,Brandan Wright,PF,29,MEM,28.0,447.0,18.5,0.628,1.1,...,0.657,31.0,47.0,78.0,15.0,11.0,20.0,10.0,42.0,189.0
15101,2017,Nick Young,SG,31,LAL,60.0,1556.0,14.1,0.588,3.0,...,0.856,25.0,112.0,137.0,58.0,37.0,14.0,36.0,137.0,791.0
15102,2017,Thaddeus Young,PF,28,IND,74.0,2237.0,14.9,0.562,1.9,...,0.523,131.0,318.0,449.0,122.0,114.0,30.0,96.0,135.0,814.0
15104,2017,Tyler Zeller,C,27,BOS,51.0,525.0,13.0,0.508,0.5,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0

In [75]:
target = corpus[corpus["Duration"] >= 5]
target = target[["Player"]]

In [76]:
esta_en_subset = players_useful['Player'].isin(target['Player'])

In [77]:
players_useful['target'] = esta_en_subset.astype(int)

C:\Users\jor_x\AppData\Local\Temp\ipykernel_43084\2384354644.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  players_useful['target'] = esta_en_subset.astype(int)

In [78]:
players_useful

,Year,Player,Pos,Age,Tm,G,MP,PER,TS%,OWS,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,target
71,1980,Mike Dunleavy,PG,25,HOU,51.0,1036.0,12.9,0.542,0.9,...,26.0,74.0,100.0,210.0,40.0,4.0,110.0,120.0,410.0,1
111,1980,Gerald Henderson,PG,24,BOS,76.0,1061.0,12.7,0.539,0.5,...,37.0,46.0,83.0,147.0,45.0,15.0,109.0,96.0,473.0,1
125,1980,Eddie Johnson,SG,24,ATL,79.0,2622.0,18.0,0.538,5.4,...,95.0,105.0,200.0,370.0,120.0,24.0,189.0,216.0,1465.0,1
133,1980,Bobby Jones,PF,28,PHI,81.0,2125.0,18.5,0.590,4.3,...,152.0,298.0,450.0,146.0,102.0,118.0,146.0,223.0,1053.0,1
296,1981,Michael Brooks,SF,22,SDC,82.0,2479.0,15.8,0.519,3.2,...,210.0,232.0,442.0,208.0,99.0,31.0,163.0,234.0,1202.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15088,2017,Reggie Williams,SF,30,NOP,6.0,79.0,11.7,0.518,0.1,...,2.0,4.0,6.0,4.0,3.0,0.0,0.0,2.0,27.0,1
15097,2017,Brandan Wright,PF,29,MEM,28.0,447.0,18.5,0.628,1.1,...,31.0,47.0,78.0,15.0,11.0,20.0,10.0,42.0,189.0,1
15101,2017,Nick Young,SG,31,LAL,60.0,1556.0,14.1,0.588,3.0,...,25.0,112.0,137.0,58.0,37.0,14.0,36.0,137.0,791.0,1
15102,2017,Thaddeus Young,PF,28,IND,74.0,2237.0,14.9,0.562,1.9,...,131.0,318.0,449.0,122.0,114.0,30.0,96.0,135.0,814.0,1
15104,2017,Tyler Zeller,C,27,BOS,51.0,525.0,13.0,0.508,0.5,...,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0,0

In [79]:
players_useful = players_useful.drop(columns=["Year"])

In [80]:
first_season = players_useful.drop_duplicates(subset=['Player'],keep='first')

In [81]:
first_season

,Player,Pos,Age,Tm,G,MP,PER,TS%,OWS,DWS,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,target
71,Mike Dunleavy,PG,25,HOU,51.0,1036.0,12.9,0.542,0.9,0.5,...,26.0,74.0,100.0,210.0,40.0,4.0,110.0,120.0,410.0,1
111,Gerald Henderson,PG,24,BOS,76.0,1061.0,12.7,0.539,0.5,1.2,...,37.0,46.0,83.0,147.0,45.0,15.0,109.0,96.0,473.0,1
125,Eddie Johnson,SG,24,ATL,79.0,2622.0,18.0,0.538,5.4,2.7,...,95.0,105.0,200.0,370.0,120.0,24.0,189.0,216.0,1465.0,1
133,Bobby Jones,PF,28,PHI,81.0,2125.0,18.5,0.590,4.3,3.8,...,152.0,298.0,450.0,146.0,102.0,118.0,146.0,223.0,1053.0,1
296,Michael Brooks,SF,22,SDC,82.0,2479.0,15.8,0.519,3.2,1.7,...,210.0,232.0,442.0,208.0,99.0,31.0,163.0,234.0,1202.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13016,Tony Wroten,SG,19,MEM,35.0,272.0,9.3,0.461,-0.2,0.3,...,13.0,15.0,28.0,43.0,8.0,4.0,29.0,34.0,91.0,0
13020,Tyler Zeller,C,23,CLE,77.0,2033.0,11.0,0.486,0.8,1.2,...,159.0,279.0,438.0,96.0,35.0,70.0,95.0,251.0,610.0,0
13187,Joel Freeland,C,26,POR,52.0,727.0,11.3,0.498,0.7,0.7,...,88.0,120.0,208.0,36.0,10.0,22.0,32.0,95.0,174.0,0
13374,Andrew Nicholson,PF,24,ORL,76.0,1174.0,9.9,0.489,-0.4,1.0,...,53.0,202.0,255.0,25.0,18.0,23.0,51.0,150.0,435.0,0
13483,Jonas Valanciunas,C,21,TOR,81.0,2282.0,16.1,0.579,3.5,3.2,...,226.0,488.0,714.0,57.0,24.0,71.0,136.0,249.0,916.0,0