In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/JavoAlejandro/Longevidad_NBA/main/NBA%20All%20Players.csv'
df_all = pd.read_csv(url)

1980-2017

In [3]:
df_all

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,689,1980.0,Kareem Abdul-Jabbar*,C,32.0,LAL,82.0,3143.0,25.3,0.639,...,0.765,190.0,696.0,886.0,371.0,81.0,280.0,297.0,216.0,2034.0
1,690,1980.0,Tom Abernethy,PF,25.0,GSW,67.0,1222.0,11.0,0.511,...,0.683,62.0,129.0,191.0,87.0,35.0,12.0,39.0,118.0,362.0
2,691,1980.0,Alvan Adams,C,25.0,PHO,75.0,2168.0,19.2,0.571,...,0.797,158.0,451.0,609.0,322.0,108.0,55.0,218.0,237.0,1118.0
3,692,1980.0,Tiny Archibald*,PG,31.0,BOS,80.0,2864.0,15.3,0.574,...,0.830,59.0,138.0,197.0,671.0,106.0,10.0,242.0,218.0,1131.0
4,694,1980.0,Gus Bailey,SG,28.0,WSB,20.0,180.0,9.3,0.467,...,0.385,6.0,22.0,28.0,26.0,7.0,4.0,11.0,18.0,38.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15102,19610,2017.0,Thaddeus Young,PF,28.0,IND,74.0,2237.0,14.9,0.562,...,0.523,131.0,318.0,449.0,122.0,114.0,30.0,96.0,135.0,814.0
15103,19611,2017.0,Cody Zeller,PF,24.0,CHO,62.0,1725.0,16.7,0.604,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
15104,19612,2017.0,Tyler Zeller,C,27.0,BOS,51.0,525.0,13.0,0.508,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
15105,19614,2017.0,Paul Zipser,SF,22.0,CHI,44.0,843.0,6.9,0.503,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
15106,19615,2017.0,Ivica Zu,C,19.0,LAL,38.0,609.0,17.0,0.547,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [4]:
df_all = df_all.drop(columns=["Unnamed: 0"])
df_all

,Year,Player,Pos,Age,Tm,G,MP,PER,TS%,OWS,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1980.0,Kareem Abdul-Jabbar*,C,32.0,LAL,82.0,3143.0,25.3,0.639,9.5,...,0.765,190.0,696.0,886.0,371.0,81.0,280.0,297.0,216.0,2034.0
1,1980.0,Tom Abernethy,PF,25.0,GSW,67.0,1222.0,11.0,0.511,1.2,...,0.683,62.0,129.0,191.0,87.0,35.0,12.0,39.0,118.0,362.0
2,1980.0,Alvan Adams,C,25.0,PHO,75.0,2168.0,19.2,0.571,3.1,...,0.797,158.0,451.0,609.0,322.0,108.0,55.0,218.0,237.0,1118.0
3,1980.0,Tiny Archibald*,PG,31.0,BOS,80.0,2864.0,15.3,0.574,5.9,...,0.830,59.0,138.0,197.0,671.0,106.0,10.0,242.0,218.0,1131.0
4,1980.0,Gus Bailey,SG,28.0,WSB,20.0,180.0,9.3,0.467,0.0,...,0.385,6.0,22.0,28.0,26.0,7.0,4.0,11.0,18.0,38.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15102,2017.0,Thaddeus Young,PF,28.0,IND,74.0,2237.0,14.9,0.562,1.9,...,0.523,131.0,318.0,449.0,122.0,114.0,30.0,96.0,135.0,814.0
15103,2017.0,Cody Zeller,PF,24.0,CHO,62.0,1725.0,16.7,0.604,3.4,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
15104,2017.0,Tyler Zeller,C,27.0,BOS,51.0,525.0,13.0,0.508,0.5,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
15105,2017.0,Paul Zipser,SF,22.0,CHI,44.0,843.0,6.9,0.503,-0.3,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
15106,2017.0,Ivica Zu,C,19.0,LAL,38.0,609.0,17.0,0.547,0.6,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [5]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15107 entries, 0 to 15106
Data columns (total 37 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    15107 non-null  float64
 1   Player  15107 non-null  object
 2   Pos     15107 non-null  object
 3   Age     15107 non-null  float64
 4   Tm      15107 non-null  object
 5   G       15107 non-null  float64
 6   MP      15107 non-null  float64
 7   PER     15107 non-null  float64
 8   TS%     15107 non-null  float64
 9   OWS     15107 non-null  float64
 10  DWS     15107 non-null  float64
 11  WS      15107 non-null  float64
 12  WS/48   15107 non-null  float64
 13  BPM     15107 non-null  float64
 14  VORP    15107 non-null  float64
 15  FG      15107 non-null  float64
 16  FGA     15107 non-null  float64
 17  FG%     15107 non-null  float64
 18  3P      15107 non-null  float64
 19  3PA     15107 non-null  float64
 20  3P%     15107 non-null  float64
 21  2P      15107 non-null  float64
 22  2PA     15107 non-null  float64
 23  2P%     15107 non-null  float64
 24  eFG%    15107 non-null  float64
 25  FT      15107 non-null  float64
 26  FTA     15107 non-null  float64
 27  FT%     15107 non-null  float64
 28  ORB     15107 non-null  float64
 29  DRB     15107 non-null  float64
 30  TRB     15107 non-null  float64
 31  AST     15107 non-null  float64
 32  STL     15107 non-null  float64
 33  BLK     15107 non-null  float64
 34  TOV     15107 non-null  float64
 35  PF      15107 non-null  float64
 36  PTS     15107 non-null  float64
dtypes: float64(34), object(3)
memory usage: 4.3+ MB

In [6]:
df_all['Year'] = df_all['Year'].astype(int)
df_all['Age'] = df_all['Age'].astype(int)

In [7]:
agrupado = df_all.groupby('Player')['Year'].apply(list).reset_index()

In [8]:
agrupado

                  Player                                               Year
0             A.C. Green  [1986, 1987, 1988, 1989, 1990, 1991, 1992, 199...
1           A.J. English                                       [1991, 1992]
2            A.J. Guyton                                       [2001, 2002]
3           A.J. Hammons                                             [2017]
4             A.J. Price   [2010, 2011, 2012, 2013, 2014, 2015, 2015, 2015]
...                  ...                                                ...
2411       Zarko Paspalj                                             [1990]
2412        Zaza Pachuli  [2005, 2006, 2007, 2008, 2009, 2010, 2013, 201...
2413         Zoran Dragi                                 [2015, 2015, 2015]
2414       Zoran Planini                                 [2004, 2005, 2006]
2415  Zydrunas Ilgauskas  [1998, 2001, 2002, 2003, 2004, 2005, 2006, 200...

[2416 rows x 2 columns]

In [9]:
agrupado[agrupado["Player"] == "LeBron James"]["Year"]

1427    [2004, 2005, 2006, 2007, 2008, 2009, 2010, 201...
Name: Year, dtype: object

# Dataset Rookies

In [10]:
path = "NBA_Rookies_by_Year.xlsx"
df_rookies = pd.read_excel(path)

1980-2016

In [11]:
df_rookies

,Name,Year Drafted,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,EFF
0,Brandon Ingram,2016,36,27.4,7.4,2.6,7.6,34.7,0.5,2.1,...,2.3,69.9,0.7,3.4,4.1,1.9,0.4,0.4,1.3,7.3
1,Andrew Harrison,2016,35,26.9,7.2,2.0,6.7,29.6,0.7,2.8,...,3.4,76.5,0.5,2.0,2.4,3.7,1.1,0.5,1.6,7.9
2,Rodney McGruder,2016,30,25.7,5.8,2.1,5.3,40.0,0.8,2.6,...,1.0,72.4,1.5,2.0,3.5,1.5,0.7,0.3,0.7,7.5
3,Joel Embiid,2016,22,24.8,18.9,6.2,13.4,46.4,1.2,3.0,...,6.8,77.3,2.0,5.4,7.3,1.9,0.8,2.4,3.8,18.8
4,Dario Saric,2016,32,24.1,9.5,3.5,9.0,38.7,1.3,3.6,...,1.7,77.4,1.2,4.7,5.9,1.7,0.5,0.2,1.8,10.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1533,Billy Reid,1980,59,10.1,3.2,1.4,3.1,45.4,0.0,0.1,...,0.7,56.4,0.5,0.6,1.0,1.2,0.6,0.1,1.3,2.8
1534,Jerry Sichting,1980,47,9.6,2.0,0.7,2.0,35.8,0.0,0.1,...,0.7,78.1,0.2,0.7,0.9,1.5,0.5,0.0,0.6,2.9
1535,Reggie Carter,1980,60,8.9,2.8,1.0,3.0,33.0,0.0,0.1,...,1.2,73.9,0.5,0.7,1.2,1.3,0.4,0.0,0.6,2.7
1536,Mike Harper,1980,55,8.4,2.7,1.0,2.5,41.2,0.0,0.1,...,1.5,43.5,0.5,1.2,1.7,0.3,0.4,0.4,0.6,2.6
1537,Mike Niles,1980,44,5.3,2.6,1.1,3.1,34.8,0.0,0.1,...,0.8,45.9,0.6,0.7,1.3,0.3,0.2,0.0,0.6,1.4

In [12]:
df_rookies.rename(columns={'Name': 'Player','Year Drafted': 'Year'}, inplace=True)

In [13]:
df_merged = pd.merge(agrupado, df_rookies[["Player","Year"]], on='Player', how='inner')

In [14]:
df_merged.rename(columns={'Year_y': 'Drafted','Year_x': 'Seasons'}, inplace=True)

In [15]:
df_merged

,Player,Seasons,Drafted
0,A.C. Green,"[1986, 1987, 1988, 1989, 1990, 1991, 1992, 199...",1985
1,A.J. English,"[1991, 1992]",1990
2,A.J. Price,"[2010, 2011, 2012, 2013, 2014, 2015, 2015, 2015]",2009
3,Aaron Brooks,"[2008, 2009, 2010, 2011, 2011, 2011, 2013, 201...",2007
4,Aaron Gordon,"[2015, 2016, 2017]",2014
...,...,...,...
1334,Yi Jianlian,"[2008, 2009, 2010, 2011, 2012]",2007
1335,Zach LaVine,"[2015, 2016, 2017]",2014
1336,Zach Randolph,"[2003, 2004, 2005, 2006, 2007, 2008, 2009, 200...",2001
1337,Zan Tabak,"[1995, 1996, 1998, 1998]",1994
1338,Zydrunas Ilgauskas,"[1998, 2001, 2002, 2003, 2004, 2005, 2006, 200...",1997

Por algun motivo existen valores repetidos en las listas de años jugados. Por lo que los quitamos.

In [16]:
df_merged['Seasons'] = df_merged['Seasons'].apply(lambda x: list(dict.fromkeys(x)))

Creamos una columna "Duration", que representa la cantidad de temporadas que a jugado el jugador en la NBA.

In [17]:
df_merged["Duration"] = df_merged["Seasons"].apply(lambda x: len(x))

In [18]:
df_merged

,Player,Seasons,Drafted,Duration
0,A.C. Green,"[1986, 1987, 1988, 1989, 1990, 1991, 1992, 199...",1985,16
1,A.J. English,"[1991, 1992]",1990,2
2,A.J. Price,"[2010, 2011, 2012, 2013, 2014, 2015]",2009,6
3,Aaron Brooks,"[2008, 2009, 2010, 2011, 2013, 2014, 2015, 201...",2007,9
4,Aaron Gordon,"[2015, 2016, 2017]",2014,3
...,...,...,...,...
1334,Yi Jianlian,"[2008, 2009, 2010, 2011, 2012]",2007,5
1335,Zach LaVine,"[2015, 2016, 2017]",2014,3
1336,Zach Randolph,"[2003, 2004, 2005, 2006, 2007, 2008, 2009, 201...",2001,15
1337,Zan Tabak,"[1995, 1996, 1998]",1994,3
1338,Zydrunas Ilgauskas,"[1998, 2001, 2002, 2003, 2004, 2005, 2006, 200...",1997,12

In [19]:
f_seas = list(map(lambda x: x[0][0] - x[1] ,zip(df_merged["Seasons"],df_merged["Drafted"])))

Extraemos los jugadores mal emparejados con merge (Jugadores que tienen mismo nombre y que son emparejados, o jugadores donde falta data)

In [20]:
data_erronenea = [x >2 for x in f_seas]
not_include = df_merged.loc[data_erronenea]
print(len(not_include))
not_include

48

,Player,Seasons,Drafted,Duration
20,Alaa Abdelnaby,"[1993, 1995]",1990,2
34,Alton Lister,"[1985, 1986, 1987, 1988, 1990, 1991, 1995]",1981,7
53,Andrew Lang,"[1991, 1992, 1993, 1994, 1995, 1996, 1998]",1988,7
84,Armen Gilliam,"[1990, 1991, 1992, 1993, 1994, 1995, 1996, 199...",1987,10
102,Bill Curley,"[1998, 1999, 2000, 2001]",1994,4
115,Bismack Biyombo,[2016],2011,1
117,Blair Rasmussen,"[1990, 1991, 1992, 1993]",1985,4
144,Brendan Haywood,"[2004, 2010, 2011, 2013]",2001,4
307,Darvin Ham,"[2000, 2001, 2002, 2003, 2004]",1996,5
315,David Lee,"[2008, 2009, 2010, 2011, 2012, 2013, 2014, 201...",2005,9
348,Derrick Favors,"[2013, 2014, 2015, 2016, 2017]",2010,5
371,Donald Hodge,[1995],1991,1
403,Ed Nealy,"[1987, 1988, 1989, 1990, 1991, 1992, 1993]",1982,7
412,Eddy Curry,"[2004, 2007]",2001,2
429,Eric Leckner,"[1992, 1994, 1995]",1988,3
463,Gary Payton,[2017],1990,1
479,Gheorghe Muresan,[1996],1993,1
498,Greg Kite,"[1986, 1987, 1988, 1990, 1992, 1993]",1983,6
517,Hilton Armstrong,"[2009, 2010, 2011]",2006,3
525,Ike Diogu,[2009],2005,1
584,Jeff Ayres,"[2013, 2016]",2009,2
615,Jim McIlvaine,"[1997, 1998]",1994,2
635,Johan Petro,"[2008, 2009, 2010, 2011, 2012, 2013]",2005,6
659,Jon Brockman,[2012],2009,1
679,Josh Powell,"[2008, 2010, 2011]",2005,3
712,Kenneth Faried,"[2014, 2015, 2016, 2017]",2011,4
752,Kosta Koufos,"[2011, 2013, 2017]",2008,3
820,Luc Longley,"[1994, 1995, 1997]",1991,3
862,Mark Blount,"[2005, 2007, 2008, 2009]",2000,4
863,Mark Bryant,"[1991, 1992, 1993, 1994, 1995, 1996, 1998, 1999]",1988,8
908,Michael Ruffin,"[2005, 2006]",1999,2
954,Nazr Mohammed,"[2001, 2002, 2005, 2008, 2011, 2012, 2013]",1998,7
969,Obinna Ekezie,[2005],1999,1
974,Omer Asik,[2013],2010,1
992,Patrick Ewing,[2011],1985,1
1023,Randy Breuer,"[1986, 1990, 1992, 1994]",1983,4
1065,Rickey Brown,[1983],1980,1
1118,Ryan Humphrey,[2005],2002,1
1123,Sam Bowie,"[1989, 1990, 1991, 1992, 1993, 1994, 1995]",1984,7
1146,Sean Williams,[2010],2007,1
1158,Shavlik Randolph,"[2009, 2015]",2005,2
1193,Steve Johnson,"[1985, 1988]",1981,2
1196,Steve Scheffler,[1996],1990,1
1199,Steven Hunter,[2005],2001,1
1202,Stuart Gray,"[1988, 1989, 1990]",1984,3
1240,Timofey Mozgov,"[2013, 2014, 2015, 2016, 2017]",2010,5
1290,Tyson Chandler,"[2004, 2005, 2006, 2007, 2008, 2012, 2014, 2016]",2001,8
1330,Winston Bennett,[1992],1989,1

In [21]:
useful2 = df_all['Player'].isin(not_include['Player'])
useful2

0        False
1        False
2        False
3        False
4        False
         ...
15102    False
15103    False
15104    False
15105    False
15106    False
Name: Player, Length: 15107, dtype: bool

In [22]:
lista_invertida = [not valor for valor in useful2]
df_all = df_all.loc[lista_invertida]

Para los unicos que podemos realmente evaluar en nuestro dataset si han jugado 5 años o más en la NBA es a los jugadores drafteados en el año 2012.

In [23]:
corpus = df_merged[df_merged["Drafted"] < 2013]

In [24]:
corpus

,Player,Seasons,Drafted,Duration
0,A.C. Green,"[1986, 1987, 1988, 1989, 1990, 1991, 1992, 199...",1985,16
1,A.J. English,"[1991, 1992]",1990,2
2,A.J. Price,"[2010, 2011, 2012, 2013, 2014, 2015]",2009,6
3,Aaron Brooks,"[2008, 2009, 2010, 2011, 2013, 2014, 2015, 201...",2007,9
5,Aaron Gray,"[2008, 2009, 2014]",2007,3
...,...,...,...,...
1333,Xavier McDaniel,"[1986, 1987, 1988, 1989, 1990, 1991, 1992, 199...",1985,11
1334,Yi Jianlian,"[2008, 2009, 2010, 2011, 2012]",2007,5
1336,Zach Randolph,"[2003, 2004, 2005, 2006, 2007, 2008, 2009, 201...",2001,15
1337,Zan Tabak,"[1995, 1996, 1998]",1994,3
1338,Zydrunas Ilgauskas,"[1998, 2001, 2002, 2003, 2004, 2005, 2006, 200...",1997,12

In [25]:
corpus[corpus["Player"]=="Gary Payton"]

          Player Seasons  Drafted  Duration
463  Gary Payton  [2017]     1990         1

In [26]:
useful = df_all['Player'].isin(corpus['Player'])

In [27]:
players_useful = df_all.loc[useful]
players_useful

,Year,Player,Pos,Age,Tm,G,MP,PER,TS%,OWS,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
71,1980,Mike Dunleavy,PG,25,HOU,51.0,1036.0,12.9,0.542,0.9,...,0.828,26.0,74.0,100.0,210.0,40.0,4.0,110.0,120.0,410.0
111,1980,Gerald Henderson,PG,24,BOS,76.0,1061.0,12.7,0.539,0.5,...,0.690,37.0,46.0,83.0,147.0,45.0,15.0,109.0,96.0,473.0
125,1980,Eddie Johnson,SG,24,ATL,79.0,2622.0,18.0,0.538,5.4,...,0.828,95.0,105.0,200.0,370.0,120.0,24.0,189.0,216.0,1465.0
133,1980,Bobby Jones,PF,28,PHI,81.0,2125.0,18.5,0.590,4.3,...,0.781,152.0,298.0,450.0,146.0,102.0,118.0,146.0,223.0,1053.0
296,1981,Michael Brooks,SF,22,SDC,82.0,2479.0,15.8,0.519,3.2,...,0.706,210.0,232.0,442.0,208.0,99.0,31.0,163.0,234.0,1202.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15088,2017,Reggie Williams,SF,30,NOP,6.0,79.0,11.7,0.518,0.1,...,0.857,2.0,4.0,6.0,4.0,3.0,0.0,0.0,2.0,27.0
15097,2017,Brandan Wright,PF,29,MEM,28.0,447.0,18.5,0.628,1.1,...,0.657,31.0,47.0,78.0,15.0,11.0,20.0,10.0,42.0,189.0
15101,2017,Nick Young,SG,31,LAL,60.0,1556.0,14.1,0.588,3.0,...,0.856,25.0,112.0,137.0,58.0,37.0,14.0,36.0,137.0,791.0
15102,2017,Thaddeus Young,PF,28,IND,74.0,2237.0,14.9,0.562,1.9,...,0.523,131.0,318.0,449.0,122.0,114.0,30.0,96.0,135.0,814.0
15104,2017,Tyler Zeller,C,27,BOS,51.0,525.0,13.0,0.508,0.5,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0

In [28]:
target = corpus[corpus["Duration"] >= 5]
target = target[["Player"]]

In [29]:
esta_en_subset = players_useful['Player'].isin(target['Player'])

In [30]:
players_useful['target'] = esta_en_subset.astype(int)

C:\Users\jor_x\AppData\Local\Temp\ipykernel_37588\2384354644.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  players_useful['target'] = esta_en_subset.astype(int)

In [31]:
players_useful

,Year,Player,Pos,Age,Tm,G,MP,PER,TS%,OWS,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,target
71,1980,Mike Dunleavy,PG,25,HOU,51.0,1036.0,12.9,0.542,0.9,...,26.0,74.0,100.0,210.0,40.0,4.0,110.0,120.0,410.0,1
111,1980,Gerald Henderson,PG,24,BOS,76.0,1061.0,12.7,0.539,0.5,...,37.0,46.0,83.0,147.0,45.0,15.0,109.0,96.0,473.0,1
125,1980,Eddie Johnson,SG,24,ATL,79.0,2622.0,18.0,0.538,5.4,...,95.0,105.0,200.0,370.0,120.0,24.0,189.0,216.0,1465.0,1
133,1980,Bobby Jones,PF,28,PHI,81.0,2125.0,18.5,0.590,4.3,...,152.0,298.0,450.0,146.0,102.0,118.0,146.0,223.0,1053.0,1
296,1981,Michael Brooks,SF,22,SDC,82.0,2479.0,15.8,0.519,3.2,...,210.0,232.0,442.0,208.0,99.0,31.0,163.0,234.0,1202.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15088,2017,Reggie Williams,SF,30,NOP,6.0,79.0,11.7,0.518,0.1,...,2.0,4.0,6.0,4.0,3.0,0.0,0.0,2.0,27.0,1
15097,2017,Brandan Wright,PF,29,MEM,28.0,447.0,18.5,0.628,1.1,...,31.0,47.0,78.0,15.0,11.0,20.0,10.0,42.0,189.0,1
15101,2017,Nick Young,SG,31,LAL,60.0,1556.0,14.1,0.588,3.0,...,25.0,112.0,137.0,58.0,37.0,14.0,36.0,137.0,791.0,1
15102,2017,Thaddeus Young,PF,28,IND,74.0,2237.0,14.9,0.562,1.9,...,131.0,318.0,449.0,122.0,114.0,30.0,96.0,135.0,814.0,1
15104,2017,Tyler Zeller,C,27,BOS,51.0,525.0,13.0,0.508,0.5,...,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0,0

In [32]:
players_useful = players_useful.drop(columns=["Year"])

In [33]:
first_season = players_useful.drop_duplicates(subset=['Player'],keep='first')

In [34]:
first_season

,Player,Pos,Age,Tm,G,MP,PER,TS%,OWS,DWS,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,target
71,Mike Dunleavy,PG,25,HOU,51.0,1036.0,12.9,0.542,0.9,0.5,...,26.0,74.0,100.0,210.0,40.0,4.0,110.0,120.0,410.0,1
111,Gerald Henderson,PG,24,BOS,76.0,1061.0,12.7,0.539,0.5,1.2,...,37.0,46.0,83.0,147.0,45.0,15.0,109.0,96.0,473.0,1
125,Eddie Johnson,SG,24,ATL,79.0,2622.0,18.0,0.538,5.4,2.7,...,95.0,105.0,200.0,370.0,120.0,24.0,189.0,216.0,1465.0,1
133,Bobby Jones,PF,28,PHI,81.0,2125.0,18.5,0.590,4.3,3.8,...,152.0,298.0,450.0,146.0,102.0,118.0,146.0,223.0,1053.0,1
296,Michael Brooks,SF,22,SDC,82.0,2479.0,15.8,0.519,3.2,1.7,...,210.0,232.0,442.0,208.0,99.0,31.0,163.0,234.0,1202.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13016,Tony Wroten,SG,19,MEM,35.0,272.0,9.3,0.461,-0.2,0.3,...,13.0,15.0,28.0,43.0,8.0,4.0,29.0,34.0,91.0,0
13020,Tyler Zeller,C,23,CLE,77.0,2033.0,11.0,0.486,0.8,1.2,...,159.0,279.0,438.0,96.0,35.0,70.0,95.0,251.0,610.0,0
13187,Joel Freeland,C,26,POR,52.0,727.0,11.3,0.498,0.7,0.7,...,88.0,120.0,208.0,36.0,10.0,22.0,32.0,95.0,174.0,0
13374,Andrew Nicholson,PF,24,ORL,76.0,1174.0,9.9,0.489,-0.4,1.0,...,53.0,202.0,255.0,25.0,18.0,23.0,51.0,150.0,435.0,0
13483,Jonas Valanciunas,C,21,TOR,81.0,2282.0,16.1,0.579,3.5,3.2,...,226.0,488.0,714.0,57.0,24.0,71.0,136.0,249.0,916.0,0

In [35]:
first_season.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'MP', 'PER', 'TS%', 'OWS', 'DWS',
       'WS', 'WS/48', 'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%',
       '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB',
       'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'target'],
      dtype='object')

In [79]:
intento = pd.read_csv('all_seasons.csv')

intento.head()

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Randy Livingston,HOU,22.0,193.04,94.800728,Louisiana State,USA,1996,2,...,3.9,1.5,2.4,0.3,0.042,0.071,0.169,0.487,0.248,1996-97
1,1,Gaylon Nickerson,WAS,28.0,190.50,86.182480,Northwestern Oklahoma,USA,1994,2,...,3.8,1.3,0.3,8.9,0.030,0.111,0.174,0.497,0.043,1996-97
2,2,George Lynch,VAN,26.0,203.20,103.418976,North Carolina,USA,1993,1,...,8.3,6.4,1.9,-8.2,0.106,0.185,0.175,0.512,0.125,1996-97
3,3,George McCloud,LAL,30.0,203.20,102.058200,Florida State,USA,1989,1,...,10.2,2.8,1.7,-2.7,0.027,0.111,0.206,0.527,0.125,1996-97
4,4,George Zidek,DEN,23.0,213.36,119.748288,UCLA,USA,1995,1,...,2.8,1.7,0.3,-14.1,0.102,0.169,0.195,0.500,0.064,1996-97

In [80]:
intento_ = intento[intento['draft_year'] != 'Undrafted']

intento_.head()

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Randy Livingston,HOU,22.0,193.04,94.800728,Louisiana State,USA,1996,2,...,3.9,1.5,2.4,0.3,0.042,0.071,0.169,0.487,0.248,1996-97
1,1,Gaylon Nickerson,WAS,28.0,190.50,86.182480,Northwestern Oklahoma,USA,1994,2,...,3.8,1.3,0.3,8.9,0.030,0.111,0.174,0.497,0.043,1996-97
2,2,George Lynch,VAN,26.0,203.20,103.418976,North Carolina,USA,1993,1,...,8.3,6.4,1.9,-8.2,0.106,0.185,0.175,0.512,0.125,1996-97
3,3,George McCloud,LAL,30.0,203.20,102.058200,Florida State,USA,1989,1,...,10.2,2.8,1.7,-2.7,0.027,0.111,0.206,0.527,0.125,1996-97
4,4,George Zidek,DEN,23.0,213.36,119.748288,UCLA,USA,1995,1,...,2.8,1.7,0.3,-14.1,0.102,0.169,0.195,0.500,0.064,1996-97

In [81]:
intento_ = intento_.groupby('player_name').agg({'season': list, 'draft_year': 'first'}).reset_index()
intento_

,player_name,season,draft_year
0,A.C. Green,"[1996-97, 1997-98, 1998-99, 1999-00, 2000-01]",1985
1,A.J. Bramlett,[1999-00],1999
2,A.J. Guyton,"[2000-01, 2001-02, 2002-03]",2000
3,AJ Griffin,[2022-23],2022
4,AJ Hammons,[2016-17],2016
...,...,...,...
1788,Zhou Qi,"[2017-18, 2018-19]",2016
1789,Ziaire Williams,"[2021-22, 2022-23]",2021
1790,Zion Williamson,"[2019-20, 2020-21, 2022-23]",2019
1791,Zoran Planinic,"[2003-04, 2004-05, 2005-06]",2003
1792,Zydrunas Ilgauskas,"[1997-98, 1998-99, 2000-01, 2001-02, 2002-03, ...",1996

In [103]:
intento_['duration'] = intento_['season'].apply(len)

final = intento_[intento_['duration'] >= 5].reset_index(drop=True)

final

,player_name,season,draft_year,duration
0,A.C. Green,"[1996-97, 1997-98, 1998-99, 1999-00, 2000-01]",1985,5
1,AJ Price,"[2009-10, 2010-11, 2011-12, 2012-13, 2013-14, ...",2009,6
2,Aaron Brooks,"[2007-08, 2008-09, 2009-10, 2010-11, 2012-13, ...",2007,10
3,Aaron Gordon,"[2014-15, 2015-16, 2016-17, 2017-18, 2018-19, ...",2014,9
4,Aaron Gray,"[2007-08, 2008-09, 2009-10, 2010-11, 2011-12, ...",2007,7
...,...,...,...,...
904,Zach LaVine,"[2014-15, 2015-16, 2016-17, 2017-18, 2018-19, ...",2014,9
905,Zach Randolph,"[2001-02, 2002-03, 2003-04, 2004-05, 2005-06, ...",2001,17
906,Zaza Pachulia,"[2003-04, 2004-05, 2005-06, 2006-07, 2007-08, ...",2003,16
907,Zeljko Rebraca,"[2001-02, 2002-03, 2003-04, 2004-05, 2005-06]",1994,5
908,Zydrunas Ilgauskas,"[1997-98, 1998-99, 2000-01, 2001-02, 2002-03, ...",1996,13

In [95]:
f_new = list(map(lambda x: int(x[0][0][:4]) - int(x[1]) ,zip(final["season"],final["draft_year"])))


data_erronenea = [x >2 for x in f_new]
not_include = final.loc[data_erronenea]
print(len(not_include))
not_include

160

,player_name,season,draft_year,duration
0,A.C. Green,"[1996-97, 1997-98, 1998-99, 1999-00, 2000-01]",1985,5
16,Adam Keefe,"[1996-97, 1997-98, 1998-99, 1999-00, 2000-01]",1992,5
42,Allan Houston,"[1996-97, 1997-98, 1998-99, 1999-00, 2000-01, ...",1993,9
46,Alonzo Mourning,"[1996-97, 1997-98, 1998-99, 1999-00, 2000-01, ...",1992,11
78,Anfernee Hardaway,"[1996-97, 1997-98, 1998-99, 1999-00, 2000-01, ...",1993,11
...,...,...,...,...
1730,Vinny Del Negro,"[1996-97, 1997-98, 1998-99, 1999-00, 2000-01, ...",1988,6
1733,Vlade Divac,"[1996-97, 1997-98, 1998-99, 1999-00, 2000-01, ...",1989,9
1744,Walt Williams,"[1996-97, 1997-98, 1998-99, 1999-00, 2000-01, ...",1992,7
1759,Will Perdue,"[1996-97, 1997-98, 1998-99, 1999-00, 2000-01]",1988,5
1786,Zeljko Rebraca,"[2001-02, 2002-03, 2003-04, 2004-05, 2005-06]",1994,5

In [104]:
for i in range(len(data_erronenea)):
    if data_erronenea[i]:
        final = final.drop(index=i)

In [107]:
final = final.reset_index(drop=True)

final

,player_name,season,draft_year,duration
0,AJ Price,"[2009-10, 2010-11, 2011-12, 2012-13, 2013-14, ...",2009,6
1,Aaron Brooks,"[2007-08, 2008-09, 2009-10, 2010-11, 2012-13, ...",2007,10
2,Aaron Gordon,"[2014-15, 2015-16, 2016-17, 2017-18, 2018-19, ...",2014,9
3,Aaron Gray,"[2007-08, 2008-09, 2009-10, 2010-11, 2011-12, ...",2007,7
4,Aaron Holiday,"[2018-19, 2019-20, 2020-21, 2021-22, 2022-23]",2018,5
...,...,...,...,...
744,Zach Collins,"[2017-18, 2018-19, 2019-20, 2021-22, 2022-23]",2017,5
745,Zach LaVine,"[2014-15, 2015-16, 2016-17, 2017-18, 2018-19, ...",2014,9
746,Zach Randolph,"[2001-02, 2002-03, 2003-04, 2004-05, 2005-06, ...",2001,17
747,Zaza Pachulia,"[2003-04, 2004-05, 2005-06, 2006-07, 2007-08, ...",2003,16
748,Zydrunas Ilgauskas,"[1997-98, 1998-99, 2000-01, 2001-02, 2002-03, ...",1996,13

In [108]:
drafteados = final['player_name'].tolist()

drafteados

['AJ Price',
 'Aaron Brooks',
 'Aaron Gordon',
 'Aaron Gray',
 'Aaron Holiday',
 'Aaron McKie',
 'Abdel Nader',
 'Adonal Foyle',
 'Al Harrington',
 'Al Horford',
 'Al Jefferson',
 'Al-Farouq Aminu',
 'Alan Henderson',
 'Alec Burks',
 'Alex Len',
 'Alexis Ajinca',
 'Alize Johnson',
 'Allen Crabbe',
 'Allen Iverson',
 'Alvin Williams',
 "Amar'e Stoudemire",
 'Amir Johnson',
 'Anderson Varejao',
 'Andray Blatche',
 'Andre Drummond',
 'Andre Iguodala',
 'Andre Miller',
 'Andre Roberson',
 'Andrea Bargnani',
 'Andrei Kirilenko',
 'Andrew Bogut',
 'Andrew Bynum',
 'Andrew DeClercq',
 'Andrew Nicholson',
 'Andrew Wiggins',
 'Andris Biedrins',
 'Anfernee Simons',
 'Antawn Jamison',
 'Anthony Davis',
 'Anthony Goldwire',
 'Anthony Johnson',
 'Anthony Miller',
 'Anthony Parker',
 'Anthony Randolph',
 'Antoine Walker',
 'Antoine Wright',
 'Antonio Daniels',
 'Antonio McDyess',
 'Arron Afflalo',
 'Austin Croshere',
 'Austin Daye',
 'Austin Rivers',
 'Avery Bradley',
 'Bam Adebayo',
 'Baron Davis',
 'Ben Gordon',
 'Ben McLemore',
 'Ben Simmons',
 'Beno Udrih',
 'Bismack Biyombo',
 'Blake Griffin',
 'Bob Sura',
 'Bobby Jackson',
 'Bobby Portis',
 'Bobby Simmons',
 'Bonzi Wells',
 'Boris Diaw',
 'Bostjan Nachbar',
 'Bradley Beal',
 'Brandan Wright',
 'Brandon Bass',
 'Brandon Ingram',
 'Brandon Jennings',
 'Brandon Knight',
 'Brandon Roy',
 'Brandon Rush',
 'Brendan Haywood',
 'Brent Barry',
 'Brevin Knight',
 'Brian Cardinal',
 'Brian Cook',
 'Brian Grant',
 'Brian Scalabrine',
 'Brian Skinner',
 'Brook Lopez',
 'Bruce Brown',
 'Bruno Caboclo',
 'Bruno Sundov',
 'Bryant Reeves',
 'Bryce Drew',
 'Buddy Hield',
 'Byron Mullens',
 'CJ McCollum',
 'CJ Miles',
 'Calvin Booth',
 'Cameron Payne',
 'Caris LeVert',
 'Carl Landry',
 'Carlos Boozer',
 'Carlos Delfino',
 'Carlos Rogers',
 'Carmelo Anthony',
 'Caron Butler',
 'Cedi Osman',
 'Cedric Henderson',
 'Chandler Parsons',
 'Channing Frye',
 'Charlie Villanueva',
 'Charlie Ward',
 'Chase Budinger',
 'Chauncey Billups',
 'Cheick Diallo',
 'Cherokee Parks',
 'Chimezie Metu',
 'Chris Bosh',
 'Chris Carr',
 'Chris Crawford',
 'Chris Douglas-Roberts',
 'Chris Duhon',
 'Chris Kaman',
 'Chris Mihm',
 'Chris Paul',
 'Chris Wilcox',
 'Clint Capela',
 'Cody Zeller',
 'Cole Aldrich',
 'Collin Sexton',
 'Corey Brewer',
 'Corey Maggette',
 'Corliss Williamson',
 'Cory Alexander',
 'Cory Joseph',
 'Courtney Lee',
 'Craig Smith',
 'Cuttino Mobley',
 "D'Angelo Russell",
 'D.J. Augustin',
 'D.J. Wilson',
 'DJ White',
 'Daequan Cook',
 'Dahntay Jones',
 'Damian Jones',
 'Damian Lillard',
 'Damon Stoudamire',
 'Damyean Dotson',
 'Dan Dickau',
 'Dan Gadzuric',
 'Daniel Gibson',
 'Danilo Gallinari',
 'Danny Fortson',
 'Danny Granger',
 'Danny Green',
 'Dante Cunningham',
 'Dante Exum',
 'Dario Saric',
 'Darius Miles',
 'Darius Miller',
 'Darius Songaila',
 'Darko Milicic',
 'Darrell Arthur',
 'Darren Collison',
 'David Lee',
 'David West',
 "De'Aaron Fox",
 "De'Anthony Melton",
 'DeAndre Jordan',
 'DeAndre Liggins',
 "DeAndre' Bembry",
 'DeJuan Blair',
 'DeMar DeRozan',
 'DeMarcus Cousins',
 'DeMarre Carroll',
 'DeSagana Diop',
 'DeShawn Stevenson',
 'Deandre Ayton',
 'Dejounte Murray',
 'Delon Wright',
 'Delonte West',
 'Dennis Schroder',
 'Dennis Smith Jr.',
 'Denzel Valentine',
 'DerMarr Johnson',
 'Derek Anderson',
 'Derek Fisher',
 'Deron Williams',
 'Derrick Favors',
 'Derrick Rose',
 'Derrick White',
 'Derrick Williams',
 'Desmond Mason',
 'Devean George',
 'Devin Booker',
 'Devin Harris',
 "Devonte' Graham",
 'Dickey Simpkins',
 'Dillon Brooks',
 'Dion Glover',
 'Dion Waiters',
 'Dirk Nowitzki',
 'Domantas Sabonis',
 'Dominic McGuire',
 'Don Reid',
 'Donatas Motiejunas',
 'Donnell Harvey',
 'Donovan Mitchell',
 'Donte DiVincenzo',
 'Donyell Marshall',
 'Dorell Wright',
 'Doug McDermott',
 'Draymond Green',
 'Drew Gooden',
 'Dwight Howard',
 'Dwight Powell',
 'Dwyane Wade',
 "E'Twaun Moore",
 'Earl Clark',
 'Earl Watson',
 'Ed Davis',
 'Eddie Griffin',
 'Eddie House',
 'Eddie Jones',
 'Eddy Curry',
 'Edmond Sumner',
 'Eduardo Najera',
 'Ekpe Udoh',
 'Elfrid Payton',
 'Elton Brand',
 'Emeka Okafor',
 'Emmanuel Mudiay',
 'Enes Kanter',
 'Eric Bledsoe',
 'Eric Gordon',
 'Eric Maynor',
 'Eric Montross',
 'Eric Piatkowski',
 'Eric Snow',
 'Eric Williams',
 'Erick Dampier',
 'Ersan Ilyasova',
 'Etan Thomas',
 'Evan Fournier',
 'Evan Turner',
 'Flip Murray',
 'Francisco Garcia',
 'Frank Jackson',
 'Frank Kaminsky',
 'Frank Ntilikina',
 'Fred Hoiberg',
 'Fred Jones',
 'Furkan Korkmaz',
 'Gary Harris',
 'Gary Trent',
 'George Hill',
 'Georges Niang',
 'Gerald Green',
 'Gerald Henderson',
 'Gerald Wallace',
 'Giannis Antetokounmpo',
 'Gilbert Arenas',
 'Glen Davis',
 'Glenn Robinson',
 'Glenn Robinson III',
 'Goran Dragic',
 'Gordon Hayward',
 'Gorgui Dieng',
 'Grant Hill',
 'Grayson Allen',
 'Greg Buckner',
 'Greg Monroe',
 'Greg Ostertag',
 'Greivis Vasquez',
 'Hakim Warrick',
 'Hamidou Diallo',
 'Harrison Barnes',
 'Hasheem Thabeet',
 'Hassan Whiteside',
 'Hedo Turkoglu',
 'Henry Ellenson',
 'Henry Walker',
 'Hilton Armstrong',
 'Howard Eisley',
 'Ian Mahinmi',
 'Ike Diogu',
 'Iman Shumpert',
 'Isaiah Canaan',
 'Isaiah Hartenstein',
 'Isaiah Thomas',
 'Ivica Zubac',
 'JJ Hickson',
 'JJ Redick',
 'JR Smith',
 'JaVale McGee',
 'Jabari Parker',
 'Jacque Vaughn',
 'Jae Crowder',
 'Jahidi White',
 'Jahlil Okafor',
 'Jake Layman',
 'Jake Tsakalidis',
 'Jake Voskuhl',
 'Jakob Poeltl',
 'Jalen Brunson',
 'Jalen Rose',
 'Jamaal Magloire',
 'Jamaal Tinsley',
 'Jamal Crawford',
 'Jamal Murray',
 'Jamal Sampson',
 'Jameer Nelson',
 'James Anderson',
 'James Ennis III',
 'James Harden',
 'James Johnson',
 'James Jones',
 'James Posey',
 'Jamie Feick',
 'Jared Dudley',
 'Jared Jeffries',
 'Jared Sullinger',
 'Jaren Jackson Jr.',
 'Jarred Vanderbilt',
 'Jarrett Allen',
 'Jarrett Jack',
 'Jarron Collins',
 'Jarvis Hayes',
 'Jason Caffey',
 'Jason Collier',
 'Jason Collins',
 'Jason Hart',
 'Jason Kapono',
 'Jason Kidd',
 'Jason Maxiell',
 'Jason Richardson',
 'Jason Smith',
 'Jason Terry',
 'Jason Thompson',
 'Jason Williams',
 'Jaylen Brown',
 'Jayson Tatum',
 'Jeff Ayres',
 'Jeff Foster',
 'Jeff Green',
 'Jeff McInnis',
 'Jeff Teague',
 'Jeff Withey',
 'Jelani McCoy',
 'Jerami Grant',
 'Jeremy Evans',
 'Jeremy Lamb',
 'Jerian Grant',
 "Jermaine O'Neal",
 'Jerome James',
 'Jerome Moiso',
 'Jerome Williams',
 'Jerry Stackhouse',
 'Jerryd Bayless',
 'Jevon Carter',
 'Jim McIlvaine',
 'Jimmer Fredette',
 'Jimmy Butler',
 'Joakim Noah',
 'Jodie Meeks',
 'Joe Harris',
 'Joe Johnson',
 'Joe Smith',
 'Joel Embiid',
 'Joel Przybilla',
 'Joey Graham',
 'Johan Petro',
 'John Collins',
 'John Henson',
 'John Jenkins',
 'John Salmons',
 'John Thomas',
 'John Wall',
 'John Wallace',
 'Jon Leuer',
 'Jonas Jerebko',
 'Jonas Valanciunas',
 'Jonathan Bender',
 'Jordan Bell',
 'Jordan Clarkson',
 'Jordan Crawford',
 'Jordan Farmar',
 'Jordan Hamilton',
 'Jordan Hill',
 'Josh Childress',
 'Josh Hart',
 'Josh Howard',
 'Josh Jackson',
 'Josh McRoberts',
 'Josh Okogie',
 'Josh Richardson',
 'Josh Smith',
 'Jrue Holiday',
 'Juan Dixon',
 'Juancho Hernangomez',
 'Julius Randle',
 'Jumaine Jones',
 'Justin Anderson',
 'Justin Jackson',
 'Justise Winslow',
 'Jusuf Nurkic',
 'Juwan Howard',
 'Kareem Rush',
 'Karl-Anthony Towns',
 'Kawhi Leonard',
 'Keita Bates-Diop',
 'Keith Bogans',
 'Keith Van Horn',
 'Kelly Olynyk',
 'Kelly Oubre Jr.',
 'Kelvin Cato',
 'Kemba Walker',
 'Kendrick Perkins',
 'Kenneth Faried',
 'Kenny Thomas',
 'Kentavious Caldwell-Pope',
 'Kenyon Martin',
 'Keon Clark',
 'Kerry Kittles',
 'Kevin Durant',
 'Kevin Garnett',
 'Kevin Huerter',
 'Kevin Knox II',
 'Kevin Love',
 'Kevin Martin',
 'Kevin Seraphin',
 'Kevon Looney',
 'Keyon Dooling',
 'Khris Middleton',
 'Kirk Hinrich',
 'Klay Thompson',
 'Kobe Bryant',
 'Kosta Koufos',
 'Kris Dunn',
 'Kris Humphries',
 'Kristaps Porzingis',
 'Kurt Thomas',
 'Kwame Brown',
 'Kyle Anderson',
 'Kyle Korver',
 'Kyle Kuzma',
 'Kyle Lowry',
 "Kyle O'Quinn",
 'Kyle Singler',
 'Kyrie Irving',
 'Kyrylo Fesenko',
 'LaMarcus Aldridge',
 'Lamar Odom',
 'Lamond Murray',
 'Lance Stephenson',
 'Landry Fields',
 'Landry Shamet',
 'Larry Hughes',
 'Larry Nance Jr.',
 'Larry Sanders',
 'Lauri Markkanen',
 'Lavoy Allen',
 'LeBron James',
 'Leandro Barbosa',
 'Lee Nailon',
 'Leon Powe',
 'Linas Kleiza',
 'Lonnie Walker IV',
 'Lonzo Ball',
 'Loren Woods',
 'Lorenzen Wright',
 'Lorenzo Brown',
 'Lou Williams',
 'Luc Mbah a Moute',
 'Luka Doncic',
 'Luke Babbitt',
 'Luke Kennard',
 'Luke Ridnour',
 'Luke Walton',
 'Luol Deng',
 'Luther Head',
 'Malcolm Brogdon',
 'Malik Beasley',
 'Malik Monk',
 'Malik Rose',
 "Mamadou N'diaye",
 'MarShon Brooks',
 'Marc Gasol',
 'Marcin Gortat',
 'Marco Belinelli',
 'Marcus Banks',
 'Marcus Camby',
 'Marcus Fizer',
 'Marcus Morris',
 'Marcus Smart',
 'Marcus Thornton',
 'Marcus Williams',
 'Mario Chalmers',
 'Mario Hezonja',
 'Mark Madsen',
 'Mark Pope',
 'Markelle Fultz',
 'Markieff Morris',
 'Marko Jaric',
 'Marquese Chriss',
 'Marreese Speights',
 'Martell Webster',
 'Marvin Bagley III',
 'Marvin Williams',
 'Mason Plumlee',
 'Mateen Cleaves',
 'Matt Barnes',
 'Matt Bonner',
 'Matt Harpring',
 'Maurice Harkless',
 'Maurice Taylor',
 'Mehmet Okur',
 'Melvin Ely',
 'Metta World Peace',
 'Meyers Leonard',
 'Michael Beasley',
 'Michael Bradley',
 'Michael Carter-Williams',
 'Michael Dickerson',
 'Michael Doleac',
 'Michael Finley',
 'Michael Kidd-Gilchrist',
 'Michael Olowokandi',
 'Michael Redd',
 'Michael Ruffin',
 'Michael Smith',
 'Mickael Pietrus',
 'Mikal Bridges',
 'Mike Bibby',
 'Mike Conley',
 'Mike Dunleavy',
 'Mike Miller',
 'Mike Muscala',
 'Mike Scott',
 'Miles Plumlee',
 'Mitchell Robinson',
 'Mo Bamba',
 'Mo Williams',
 'Monta Ellis',
 'Monte Morris',
 'Montrezl Harrell',
 'Monty Williams',
 'Moochie Norris',
 'Moritz Wagner',
 'Morris Peterson',
 'Myles Turner',
 'Nate Robinson',
 'Nazr Mohammed',
 'Nenad Krstic',
 'Nene',
 'Nerlens Noel',
 'Nick Collison',
 'Nick Young',
 'Nicolas Batum',
 'Nik Stauskas',
 'Nikola Jokic',
 'Nikola Pekovic',
 'Nikola Vucevic',
 'Noah Vonleh',
 'Norman Powell',
 'Norris Cole',
 'O.J. Mayo',
 'OG Anunoby',
 'Omer Asik',
 'Omri Casspi',
 'Othella Harrington',
 'Otto Porter Jr.',
 'PJ Tucker',
 'Pascal Siakam',
 'Pat Connaughton',
 'Pat Garrity',
 'Patrick McCaw',
 'Patrick Patterson',
 'Patty Mills',
 'Pau Gasol',
 'Paul George',
 'Paul Millsap',
 'Paul Pierce',
 'Peja Stojakovic',
 'Primoz Brezec',
 'Quentin Richardson',
 'Quincy Acy',
 'Quincy Pondexter',
 'Raef LaFrentz',
 'Rafer Alston',
 'Rajon Rondo',
 'Ramon Sessions',
 'Randy Foye',
 'Randy Livingston',
 'Rashard Lewis',
 'Rasheed Wallace',
 'Rasho Nesterovic',
 'Rasual Butler',
 'Raul Neto',
 'Ray Allen',
 'Raymond Felton',
 'Reggie Bullock',
 'Reggie Jackson',
 'Renaldo Balkman',
 'Richard Hamilton',
 'Richard Jefferson',
 'Richaun Holmes',
 'Ricky Davis',
 'Ricky Rubio',
 'Robert Traylor',
 'Robert Williams III',
 'Robin Lopez',
 'Rodney Buford',
 'Rodney Carney',
 'Rodney Hood',
 'Rodney Stuckey',
 'Roger Mason Jr.',
 'Ron Mercer',
 'Rondae Hollis-Jefferson',
 'Ronnie Brewer',
 'Ronny Turiaf',
 'Roy Hibbert',
 'Royal Ivey',
 'Ruben Patterson',
 'Rudy Gay',
 'Rudy Gobert',
 'Russell Westbrook',
 'Ryan Anderson',
 'Ryan Bowen',
 'Ryan Gomes',
 'Ryan Hollins',
 'Sam Dekker',
 'Samaki Walker',
 'Samuel Dalembert',
 'Sasha Pavlovic',
 'Sasha Vujacic',
 'Scot Pollard',
 'Scott Padgett',
 'Sean Marks',
 'Sebastian Telfair',
 'Semi Ojeleye',
 'Serge Ibaka',
 'Sergio Rodriguez',
 'Shabazz Muhammad',
 'Shabazz Napier',
 'Shai Gilgeous-Alexander',
 'Shake Milton',
 'Shammond Williams',
 'Shandon Anderson',
 'Shane Battier',
 'Shannon Brown',
 'Shareef Abdur-Rahim',
 'Shaun Livingston',
 'Shawn Marion',
 'Shawne Williams',
 'Shelden Williams',
 'Shelvin Mack',
 'Solomon Hill',
 'Solomon Jones',
 'Speedy Claxton',
 'Spencer Dinwiddie',
 'Spencer Hawes',
 'Stanley Johnson',
 'Stephen Curry',
 'Stephon Marbury',
 'Sterling Brown',
 'Steve Blake',
 'Steve Francis',
 'Steve Nash',
 'Steve Novak',
 'Steven Adams',
 'Steven Hunter',
 'Stromile Swift',
 'Svi Mykhailiuk',
 'T.J. Ford',
 'Taj Gibson',
 'Tariq Abdul-Wahad',
 'Taurean Prince',
 'Tayshaun Prince',
 'Terrence Jones',
 'Terrence Ross',
 'Terry Rozier',
 'Thabo Sefolosha',
 'Thaddeus Young',
 'Thanasis Antetokounmpo',
 'Theo Ratliff',
 'Thomas Bryant',
 'Thomas Robinson',
 'Thon Maker',
 'Tim Duncan',
 'Tim Hardaway Jr.',
 'Tim Thomas',
 'Timothe Luwawu-Cabarrot',
 'Tobias Harris',
 'Todd Fuller',
 'Toney Douglas',
 'Tony Allen',
 'Tony Battie',
 'Tony Bradley',
 'Tony Delk',
 'Tony Parker',
 'Tony Snell',
 'Tracy McGrady',
 'Trae Young',
 'Travis Best',
 'Travis Diener',
 'Travis Knight',
 'Travis Outlaw',
 'Trenton Hassell',
 'Trevor Ariza',
 'Trevor Booker',
 'Trey Burke',
 'Trey Lyles',
 'Tristan Thompson',
 'Troy Brown Jr.',
 'Troy Murphy',
 'Ty Lawson',
 'Tyler Hansbrough',
 'Tyler Zeller',
 'Tyreke Evans',
 'Tyronn Lue',
 'Tyrus Thomas',
 'Tyson Chandler',
 'Tyus Jones',
 'Victor Oladipo',
 'Vince Carter',
 'Vitaly Potapenko',
 'Vladimir Radmanovic',
 'Vladimir Stepania',
 'Von Wafer',
 'Voshon Lenard',
 'Wally Szczerbiak',
 'Walter McCarty',
 'Wang Zhi-zhi',
 'Wayne Ellington',
 'Wendell Carter Jr.',
 'Wes Iwundu',
 'Wesley Johnson',
 'Wesley Person',
 'Will Barton',
 'Willie Cauley-Stein',
 'Willie Green',
 'Willy Hernangomez',
 'Wilson Chandler',
 'Xavier Henry',
 'Yao Ming',
 'Yi Jianlian',
 'Zach Collins',
 'Zach LaVine',
 'Zach Randolph',
 'Zaza Pachulia',
 'Zydrunas Ilgauskas']

In [109]:
target

                  Player
0             A.C. Green
2             A.J. Price
3           Aaron Brooks
6            Aaron McKie
10            Adam Keefe
...                  ...
1331     Winston Garland
1333     Xavier McDaniel
1334         Yi Jianlian
1336       Zach Randolph
1338  Zydrunas Ilgauskas

[740 rows x 1 columns]